
/*Couleurs
/*38a0a7*/
/*86c6ca*/
/*9ac21b/
/*f39200*/
/*faf7f5*/

@font-face{
	font-family: 'Lato';
	src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}


html{
	/*background-image: url(../pictures/Exemple.jpg);*/
	background-color: #faf7f5;
	background-repeat: no-repeat;
	font-family: 'Lato';
}

body{
	margin : 0 auto;
}


.Localhead{
	height: 100%;
	display: block;
	margin:auto;
	background-color: #86c6ca;
}

.Localhead article{
	display: inline-block;
}

.ReseauSociaux {
	float : right;
	margin-right : 30px;
	height:40px;
}

.ReseauSociaux ul {
	height:40px;
}

.ReseauSociaux li {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	font-size : 0px;
	width: 40px;
	height: 40px;
	list-style-type: none;
	margin : 10px;
}

.ReseauSociaux a{
	display: inline-block;
	min-width:40px;
	min-height:40px;
	background-repeat:no-repeat;
	background-size: 40px;
}
.Facebook{
	background-image: url(../pictures/FacebookIcon.png);
}

.Twitter{
	background-image: url(../pictures/TwitterIcon.png);
}


.Titre{
	background-image: url(../pictures/Intro/titre_nouveau.png);
	width:993px;
	height:285px;
	margin: auto;
	position: relative;
	top : 125px;
	display: block !important;
	}



.Sol{
	width: 100%;
	height: 20%;
	background-color: #faf7f5;
	position: absolute;
	bottom: 0;
}

.Cross{
	width:45px;
	height: 45px;
	background-image: url(../pictures/Boutons/bouton_croix.png);
	display: inline-block;
}

#CrossJ1{
	position: absolute;
	left : 2188px;
	top : 230px;
}

/*INTRO*/
/*
.AlgueIntro1{
	position: absolute;
	bottom: 185px;
	left : 500px;
	background-image: url(../pictures/Intro/algue_verte_petite.png);
	width:40px;
	height:129px;
}
.AlgueIntro2{
	position: absolute;
	bottom : 180px;
	left : 540px;
	background-image: url(../pictures/Intro/algue_verte_grande.png);
	width:54px;
	height:172px;
}
.AlgueIntro3{
	position: absolute;
	bottom : 180px;
	left : 400px;
	background-image: url(../pictures/Intro/algue_rouge_milieu.png);
	width:87px;
	height:251px;
}

.AlgueIntro4{
	position: absolute;
	bottom : 180px;
	left : 270px;
	width:108px;
	height:223px;
	background-image: url(../pictures/Intro/algue_verte_rocher.png);
}
.AlgueIntro5{
	position: absolute;
	bottom : 180px;
	left : 150px;
	background-image: url(../pictures/Intro/algue_rouge_gauche.png);
	width:91px;
	height:227px;
}
.AlgueIntro6{
	position: absolute;
	bottom: 180px;
	left : 600px;
	background-image: url(../pictures/Intro/algue_rouge_droite.png);
	width:82px;
	height:172px;
}


#MerluIntro{
	position: absolute;
	bottom: 250px;
	left : 300px;
	background-image: url(../pictures/Intro/merlu.png);
	width:172px;
	height:60px;
}
#ColinIntro1{
	position: absolute;
	bottom: 350px;
	left : 550px;
	background-image: url(../pictures/Intro/colin_lepetit.png);
	width:136px;
	height:46px;
}
#HomardIntro1{
	position: absolute;
	bottom: 130px;
	left : 442px;
	background-image: url(../pictures/Intro/homard.png);
	width:202px;
	height:63px;
}
.BullesGIntro{
	background-image: url(../pictures/Intro/bubulles.png);
	width:20px;
	height:20px;
}
.BullesPIntro{
	background-image: url(../pictures/Intro/bulles.png);
	width:15px;
	height:15px;
}
.BullesTGIntro{
	position: absolute;
	bottom: 430px;
	left : 550px;
	background-image: url(../pictures/Intro/bububulles.png);
	width:32px;
	height:32px;
}
#BullesIntro1{
	position: absolute;
	bottom: 470px;
	left : 520px;

}
#BullesIntro2{
	position: absolute;
	bottom: 475px;
	left : 604px;
}
#BullesIntro3{
	position: absolute;
	bottom: 400px;
	left : 225px;
}
#BullesIntro4{
	position: absolute;
	bottom: 560px;
	left : 600px;
}
#BullesIntro5{
	position: absolute;
	bottom: 500px;
	left : 569px;
}
#BullesIntro6{
	position: absolute;
	bottom: 425px;
	left : 240px;
}
.FumeeIntro{
	position: absolute;
	bottom: 288px;
	right : 326px;
	background-image: url(../pictures/Intro/fumee_cheminee.png);
	width:20px;
	height:59px;
}

.PoissonIntro{
	position: absolute;
	bottom: 345px;
	left : 350px;
	background-image: url(../pictures/Intro/poissons_fond.png);
	width:183px;
	height:92px;

}
#NuageIntro1{
	background-image: url(../pictures/Intro/nuage_gros.png);
	width:127px;
	height:54px;
	position: absolute;
	top: 350px;
	right : 700px;
}
.NuagePIntro{
	background-image: url(../pictures/Intro/nuage_petit.png);
	width:102px;
	height:43px;

}
#NuageIntro2{
	position: absolute;
	top: 150px;
	right : 300px;
	position: absolute;
	top: 400px;
	right : 200px;
}
#NuageIntro3{
	position: absolute;
	top: 150px;
	right : 300px;
	position: absolute;
	top: 490px;
	right : 412px;
}

.ArbreIntro1{
	position: absolute;
	bottom: 150px;
	right : 200px;
	background-image: url(../pictures/Intro/arbre_rouge.png);
	width:114px;
	height:171px;
}

.ArbreIntro2{
	position: absolute;
	bottom: 150px;
	right : 600px;
	background-image: url(../pictures/Intro/arbre_rose.png);
	width:114px;
	height:206px;
}

.MaisonIntro1{
	position: absolute;
	bottom: 150px;
	right : 300px;
	background-image: url(../pictures/Intro/maison_bleue.png);
	width:126px;
	height:138px;
}

.HommeIntro1{
	position: absolute;
	bottom: 100px;
	right : 475px;
	background-image: url(../pictures/Intro/monsieur.png);
	width:115px;
	height:354px;
}
*/
.GaucheIntro{
	position: absolute;
	bottom: 11%;
	left : 10%;
	background-image: url(../pictures/Intro/image_mer.png);
	width:533px;
	height:382px;
}

.DroiteIntro{
	position: absolute;
	bottom: 11%;
	right: 10%;
	background-image: url(../pictures/Intro/illu_homme.png);
	width:586px;
	height:415px;
}

#BoutonP1{
	position: relative;
	margin : auto;
	top : 500px;
}


.Presentation{
	display: block;
}

.Presentation p {
	margin-top : 10px;
	margin-bottom: auto;
	text-align: center;
	line-height: 200px;
	font-size: 25px;
}

/*Solution trouvée sur le net pour centrer correctement*/
.Presentation>p>span {
	display: inline-block;
	vertical-align: middle; /* on centre le 2e span */
	line-height: 0;
	margin-right: auto;
	margin-left : auto;
	width: 66%
}
.Presentation>p>span>span {
	line-height: 60px; /* on ajuste le "véritable" line-height du texte */
}

.Bouton{
	margin-top :30px !important;
	margin : auto;

	font-size: 40px;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 0 #86c6ca;
	color : black;
	padding-top: 10px; /*permet le centrage vertical*/
	padding-bottom: 10px;

	width:245px;
	height:50px;
	display: block;

	background-color: #6a9dae;
	border-radius: 10px;
}

.Bouton:hover{
	opacity: 0.7;
}

#MouetteP2{
	display: inline-block;
	position: absolute;
	top: 200px;
	right : 200px;
}




/*Carte*/
.CarteJeu{
	display: block;
	height: 100%;
	width : 100%;
	background-color: #86c6ca;
}
.CarteJeu article{
	display: inline-block;
}

.CoteCarte{
	width:100%;
	height:100%;
}

.ImageJeu1{
	display: inline-block;
	width: 262px;
	height: 148px;
	background-image: url(../pictures/Carte/bateau_carte.png);
	position: absolute;
	bottom: 22%;
	left : 3.5%;
	font-size: 0;
}

.ImageJeu2{
	display: inline-block;
	width: 190px;
	height: 151px;
	background-image: url(../pictures/Carte/mouettes_rocher.png);
	position: absolute;
	top: 24.5%;
	left : 5%;
	font-size: 0;
}

.ImageJeu3{
	display: inline-block;
	width: 181px;
	height: 210px;
	background-image: url(../pictures/Carte/algues_carte.png);
	position: absolute;
	bottom: 10%;
	left :13.5%;
	font-size: 0;
}

.ImageJeu4{
	display: inline-block;
	width: 251px;
	height: 170px;
	background-image: url(../pictures/Carte/maison_carte.png);
	position: absolute;
	bottom: 41%;
	left :12.4%;
	font-size: 0;
}

.ImageJeu1:hover, .ImageJeu2:hover,.ImageJeu3:hover, .ImageJeu4:hover{
	opacity: 0.7;

}







/*JEU 1*/

.InterfaceJ1 article{
	display: inline-block;
}

.TextJ1{
	display: block;
}

.barre{
	-webkit-appearance: slider-vertical;
}

.Mer1{
	display: inline-block;
	height: 410px;
	width: 1300px;
	margin: auto;
	background-color: #38a0a7;
	font-size: 0;
	border: 10px solid #ffffff;
	border-top : none;
	position: absolute;
	top : 41%;
	left :22.93%;
}

.Ciel{
	display: inline-block;
	width: 1300px;
	height: 150px;
	margin: auto;
	background-color: #58c0c7;
	border : 10px solid #ffffff;
	border-bottom: none;
	position: absolute;
	top : 24.41%;
	left :22.93%;
}

.Boué{
	width:  30px;
	height : 560px;
	background-image: url(../pictures/Jeu1/ligne_bouee_jeu_peche.png);
	position: relative;
	left :650px;
}

.MerluP{
	width:  97px;
	height : 34px;
	background-image: url(../pictures/Jeu1/merlu_jeu_peche.png);
}

.Merlu{
	width:  123px;
	height : 43px;
	background-image: url(../pictures/Jeu1/merlu_gros_jeu_peche.png);
}

.Homard{
	width:  113px;
	height : 35px;
	background-image: url(../pictures/Jeu1/homard_gros.png);
}

.HomardP{
	width:  77px;
	height : 23px;
	background-image: url(../pictures/Jeu1/homard_petit.png);
}

.Colin{
	width:  151px;
	height : 52px;
	background-image: url(../pictures/Jeu1/colin_jeu_peche.png);
}

.ColinP{
	width:  103px;
	height : 35px;
	background-image: url(../pictures/Jeu1/colin_petit_jeu_peche.png);
}

.Poisson{
	width:  56px;
	height : 15px;
	background-image: url(../pictures/Jeu1/poisson_gris_petit.png);
}


.BateauRougeGros{
	width:  150px;
	height : 78px;
	background-image: url(../pictures/Jeu1/bateau_rouge_gros.png);.

}
.BateauRougePetit{
	width:  98px;
	height : 51px;
	background-image: url(../pictures/Jeu1/bateau_rouge.png);
}
.BateauBleuClair{
	width:  127px;
	height : 66px;
	background-image: url(../pictures/Jeu1/bateau_bleuclair.png);
}
.BateauNoir{
	width:  127px;
	height : 66px;
	background-image: url(../pictures/Jeu1/bateau_noir_gros.png);
}
.BateauBleuFonce{
	width:  98px;
	height : 51px;
	background-image: url(../pictures/Jeu1/bateau_bleufonce.png);
}
.BateauRose{
	width:  127px;
	height : 66px;
	background-image: url(../pictures/Jeu1/bateau_coque_rose.png);
}


.NuageP{
	width:  58px;
	height : 24px;
	background-image: url(../pictures/Jeu1/nuage_jeu_peche.png);
}

.NuageG{
	width:  88px;
	height : 38px;
	background-image: url(../pictures/Jeu1/nuage_jeu_peche_gros.png);
}

.Phare{
	width:  31px;
	height : 85px;
	background-image: url(../pictures/Jeu1/Phare_jeu_peche.png);
}

.Rocher{
	width:  82px;
	height : 23px;
	background-image: url(../pictures/Jeu1/rocher_jeu_peche.png);
}


#BateauRougeGrosJ1{
	position: absolute;
	left :725px;
	top : 50px;
}
#BateauRougePetitJ1{
	position: absolute;
	left : 1150px;
	top : 20px;
}
#BateauBleuClairJ1{
	position: absolute;
	left :925px;
	top : 100px;
}
#BateauRoseJ1{
	position: absolute;
	left :800px;
	top : 220px;
}
#BateauBleuFonceJ1{
	position: absolute;
	left :940px;
	top : 300px;
}
#BateauNoirJ1{
	position: absolute;
	left :1100px;
	top : 200px;
}
#MerluJ1-1{
position: absolute;
	left : 300px;
	top : 108px;
}
#MerluJ1-2{
	position: absolute;
	left :100px;
	top : 216px;
}
#MerluJ1-3{
	position: absolute;
	left :250px;
	top : 276px;
}
#ColinJ1-1{
	position: absolute;
	left :400px;
	top : 135px;
}
#ColinJ1-2{
	position: absolute;
	left :100px;
	top : 48px;
}
#HomardJ1-1{
	position: absolute;
	left :225px;
	top : 155px;
}
#HomardJ1-2{
	position: absolute;
	left :450px;
	top : 75px;
}
#HomardJ1-3{
	position: absolute;
	left :530px;
	top : 300px;
}
#PoissonJ1-1{
	position: absolute;
	left :115px;
	top : 150px;
}
#PoissonJ1-2{
	position: absolute;
	left :300px;
	top : 50px;
}
#NuageJ1-1{
position: absolute;
	left :800px;
	top : 32px;
}
#NuageJ1-2{
	position: absolute;
	left :434px;
	top : 30px;
}
#NuageJ1-3{
	position: absolute;
	left :180px;
	top : 51px;
}
#NuageJ1-4{
	position: absolute;
	left :1010px;
	top : 71px;
}
#PhareJ1{
	position: absolute;
	left :40px;
	top : 49px;
}
#RocherJ1{
	position: absolute;
	left :10px;
	top : 132px;
}


.radioJ1 label{
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width : 30px;
	height: 30px;
	border-radius: 10px;
	position: relative;
	left : -20px;
	top : -20px;

	background-color: #ffffff;
	box-shadow: 2px 2px 0px 0px #999999;


}

.radioJ1 label:after
{
	opacity: 0;
	content: '';
	background: transparent;
	position: absolute;
	top: 9px;
	left: 8px;

	width: 12px;
	height: 5px;
	border: 5px solid #000000;
	border-top: none;
	border-right: none;

	transition: opacity 1s ease-out, transform 1s;
}


.radioJ1 input[type=radio]:checked + label:after {
	opacity: 1;
	transition: opacity 1s ease-out, transform 1s;
	transform: rotate(315deg);
}

.EnsembleRadio, #Bouton2050{
	position: relative;
	left: 85%;
}



/*JEU 2*/
/*Taille et image a changer*/


.InterfaceJ2 article{
	display: inline-block;
}

.MerJ2{
	width:  607px;
	height : 120px;
	background-image: url(../pictures/Jeu2/mer.png);
}
.MouetteHorizontale{
	width:  105px;
	height : 67px;
	background-image: url(../pictures/Jeu2/mouette-de-combat.png);
}
.MouettePosey{
	width:  62px;
	height : 86px;
	background-image: url(../pictures/Jeu2/mouette-handicapé.png);
}
.Fiente{
	width:  16px;
	height : 37px;
	background-image: url(../pictures/Jeu2/guano.png);
}
.Huitre{
	width:  47px;
	height : 35px;
	background-image: url(../pictures/Jeu2/huitre1.png);
}
.Splash{
	width:  63px;
	height : 40px;
	background-image: url(../pictures/Jeu1/splash-de-caca.png);
}
.RocherJ2{ /*Pas l'image*/
	width:  82px;
	height : 23px;
	background-image: url(../pictures/Jeu1/rocher_jeu_peche.png);
}
.Vague{
	width:  250px;
	height : 31px;
	background-image: url(../pictures/Jeu2/vague.png);
}
.Plage{
	width:  525px;
	height : 163px;
	background-image: url(../pictures/Jeu2/plage.png);
}

.Touriste{
	width:  139px;
	height : 264px;
}

#Touriste1{
	height : 258px;
	background-image: url(../pictures/Jeu2/touriste-baigneur.png);
}

#Touriste2{
	background-image: url(../pictures/Jeu2/touriste-beauf.png);
}

#Touriste3{
	background-image: url(../pictures/Jeu2/touriste-bimbo.png);
}

#Touriste4{
	width:  105px;
	height : 192px;
	background-image: url(../pictures/Jeu2/touriste-enfant.png);
}

#Touriste5{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
}

#MH1{
	position: relative;
	top : 0px;
	left : 0px;
}
#MH2{
	position: relative;
	top : 0px;
	left : 0px;
}
#MH3{
	position: relative;
	top : 0px;
	left : 0px;
}
#MH4{
	position: relative;
	top : 0px;
	left : 0px;
}
#MH5{
	position: relative;
	top : 0px;
	left : 0px;
}
#F1{
	position: relative;
	top : 0px;
	left : 0px;
}
#F2{
	position: relative;
	top : 0px;
	left : 0px;
}
#F3{
	position: relative;
	top : 0px;
	left : 0px;
}
#F4{
	position: relative;
	top : 0px;
	left : 0px;
}
#Huitre1{
	position: relative;
	top : 0px;
	left : 0px;
}
#Huitre2{
	position: relative;
	top : 0px;
	left : 0px;
}
#Huitre3{
	position: relative;
	top : 0px;
	left : 0px;
}
#Huitre4{
	position: relative;
	top : 0px;
	left : 0px;
}
#Huitre5{
	position: relative;
	top : 0px;
	left : 0px;
}
#P3{
	position: relative;
	top : 0px;
	left : 0px;
}
#P4{
	position: relative;
	top : 0px;
	left : 0px;
}
#N5{
	position: relative;
	top : 0px;
	left : 0px;
}
#N6{
	position: relative;
	top : 0px;
	left : 0px;
}
#N7{
	position: relative;
	top : 0px;
	left : 0px;
}

/*Jeu3*/


/*Jeu4*/
/*
.MerJ4-1{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MerJ4-2{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MerJ4-3{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MerJ4-4{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.SableJ4{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-1{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-2{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-3{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-4{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-1{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-2{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-3{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-4{
	width:  131px;
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
*/

/*Logos*/
.LogoEclaireur{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoCoselmar{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoAudencia{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoPolytech{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoAGR{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoMediaLab{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoPaysDeLaLoire{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoNantes{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoUnivNantes{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoHyblab{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoOpenSourceInitiative{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoCC{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}





/*Gestion en pages */

html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

#div1{
	width:80px;
	height:80px;
	display:block;
	background-color:red;
}
