
/*Couleurs
/*38a0a7*/
/*86c6ca*/
/*9ac21b/
/*f39200*/
/*faf7f5*/

@font-face{
	font-family: 'Lato';
	src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}


html{
	/*background-image: url(../pictures/Exemple.jpg);*/
	background-color: #faf7f5;
	background-repeat: no-repeat;
	font-family: 'Lato'; 
}

body{
	margin : 0 auto;
}


.Localhead{
	height: 100%;
	display: block;
	margin:auto;
	background-color: #86c6ca;
}

.Localhead article{
	display: inline-block;
}

.ReseauSociaux {
	float : right;
	margin-right : 30px;
	height:40px;
}

.ReseauSociaux ul {
	height:40px;
}

.ReseauSociaux li {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	font-size : 0px;
	width: 40px;
	height: 40px;
	list-style-type: none;
	margin : 10px;
}

.ReseauSociaux a{
	display: inline-block;
	min-width:40px;
	min-height:40px;
	background-repeat:no-repeat;
	background-size: 40px;
}
.Facebook{
	background-image: url(../pictures/FacebookIcon.png);
}

.Twitter{
	background-image: url(../pictures/TwitterIcon.png);
}


.Titre{
	background-image: url(../pictures/Intro/titre_nouveau.png);
	background-size: contain;
	width:46vw;
	height:14vw;
	margin: auto;
	position: relative;
	top : 125px;
	display: block !important;
	}



.Sol{
	width: 100%;
	height: 20%;
	background-color: #faf7f5;
	position: absolute;
	bottom: 0;	
}

.Cross{
	width: 0.47%;
	height: 4.6%;
	background-image: url(../pictures/Boutons/bouton_croix.png);
	display: inline-block;
}

#CrossJ2{
	position: absolute;
	left : 43.8%;
	top : 21%;
}

/*INTRO*/
/*
.AlgueIntro1{
	position: absolute;
	bottom: 185px;
	left : 500px;
	background-image: url(../pictures/Intro/algue_verte_petite.png);
	width:40px;
	height:129px;
}
.AlgueIntro2{
	position: absolute;
	bottom : 180px;
	left : 540px;
	background-image: url(../pictures/Intro/algue_verte_grande.png);
	width:54px;
	height:172px;	
}
.AlgueIntro3{
	position: absolute;
	bottom : 180px;
	left : 400px;
	background-image: url(../pictures/Intro/algue_rouge_milieu.png);
	width:87px;
	height:251px;
}

.AlgueIntro4{
	position: absolute;
	bottom : 180px;
	left : 270px;
	width:108px;
	height:223px;
	background-image: url(../pictures/Intro/algue_verte_rocher.png);
}
.AlgueIntro5{
	position: absolute;
	bottom : 180px;
	left : 150px;
	background-image: url(../pictures/Intro/algue_rouge_gauche.png);
	width:91px;
	height:227px;
}
.AlgueIntro6{
	position: absolute;
	bottom: 180px;
	left : 600px;
	background-image: url(../pictures/Intro/algue_rouge_droite.png);
	width:82px;
	height:172px;
}


#MerluIntro{
	position: absolute;
	bottom: 250px;
	left : 300px;
	background-image: url(../pictures/Intro/merlu.png);
	width:172px;
	height:60px;
}
#ColinIntro1{
	position: absolute;
	bottom: 350px;
	left : 550px;
	background-image: url(../pictures/Intro/colin_lepetit.png);
	width:136px;
	height:46px;
}
#HomardIntro1{
	position: absolute;
	bottom: 130px;
	left : 442px;
	background-image: url(../pictures/Intro/homard.png);
	width:202px;
	height:63px;
}
.BullesGIntro{
	background-image: url(../pictures/Intro/bubulles.png);
	width:20px;
	height:20px;
}
.BullesPIntro{
	background-image: url(../pictures/Intro/bulles.png);
	width:15px;
	height:15px;
}
.BullesTGIntro{
	position: absolute;
	bottom: 430px;
	left : 550px;
	background-image: url(../pictures/Intro/bububulles.png);
	width:32px;
	height:32px;
}
#BullesIntro1{
	position: absolute;
	bottom: 470px;
	left : 520px;

}
#BullesIntro2{
	position: absolute;
	bottom: 475px;
	left : 604px;
}
#BullesIntro3{
	position: absolute;
	bottom: 400px;
	left : 225px;
}
#BullesIntro4{
	position: absolute;
	bottom: 560px;
	left : 600px;
}
#BullesIntro5{
	position: absolute;
	bottom: 500px;
	left : 569px;
}
#BullesIntro6{
	position: absolute;
	bottom: 425px;
	left : 240px;
}
.FumeeIntro{
	position: absolute;
	bottom: 288px;
	right : 326px;
	background-image: url(../pictures/Intro/fumee_cheminee.png);
	width:20px;
	height:59px;	
}

.PoissonIntro{
	position: absolute;
	bottom: 345px;
	left : 350px;
	background-image: url(../pictures/Intro/poissons_fond.png);
	width:183px;
	height:92px;

}
#NuageIntro1{
	background-image: url(../pictures/Intro/nuage_gros.png);
	width:127px;
	height:54px;
	position: absolute;
	top: 350px;
	right : 700px;
}
.NuagePIntro{
	background-image: url(../pictures/Intro/nuage_petit.png);
	width:102px;
	height:43px;
	
}
#NuageIntro2{
	position: absolute;
	top: 150px;
	right : 300px;
	position: absolute;
	top: 400px;
	right : 200px;
}
#NuageIntro3{
	position: absolute;
	top: 150px;
	right : 300px;
	position: absolute;
	top: 490px;
	right : 412px;
}

.ArbreIntro1{
	position: absolute;
	bottom: 150px;
	right : 200px;
	background-image: url(../pictures/Intro/arbre_rouge.png);
	width:114px;
	height:171px;
}

.ArbreIntro2{
	position: absolute;
	bottom: 150px;
	right : 600px;
	background-image: url(../pictures/Intro/arbre_rose.png);
	width:114px;
	height:206px;
}

.MaisonIntro1{
	position: absolute;
	bottom: 150px;
	right : 300px;
	background-image: url(../pictures/Intro/maison_bleue.png);
	width:126px;
	height:138px;
}

.HommeIntro1{
	position: absolute;
	bottom: 100px;
	right : 475px;
	background-image: url(../pictures/Intro/monsieur.png);
	width:115px;
	height:354px;
}
*/
.GaucheIntro{
	position: absolute;
	bottom: 11%;
	left : 10%;
	background-image: url(../pictures/Intro/image_mer.png);
	background-size:contain;
	width:27.8vw;
	height:20vw;
}

.DroiteIntro{
	position: absolute;
	bottom: 11%;
	right: 10%;
	background-image: url(../pictures/Intro/illu_homme.png);
	background-size:contain;
	width:30.5vw;
	height:22vw;
}

#BoutonP1{
	position: relative;
	margin : auto;
	top : 500px;
}


.Presentation{
	display: block;
}

.Presentation p {
	margin-top : 10px;
	margin-bottom: auto;
	text-align: center;
	line-height: 200px;
	font-size: 25px;
}

/*Solution trouvée sur le net pour centrer correctement*/
.Presentation>p>span {
	display: inline-block;
	vertical-align: middle; /* on centre le 2e span */
	line-height: 0;
	margin-right: auto;
	margin-left : auto;
	width: 66%
}
.Presentation>p>span>span {
	line-height: 60px; /* on ajuste le "véritable" line-height du texte */
}

.Bouton{
	margin-top :30px !important;
	margin : auto;

	font-size: 2vw;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 0 #86c6ca;
	color : black;
	padding-top: 10px; /*permet le centrage vertical*/
	padding-bottom: 10px;

	width:10vw;
	height:3vw;
	display: block;

	background-color: #6a9dae;
	border-radius: 10px;
}

.Bouton:hover{
	opacity: 0.7;
}

#MouetteP2{
	display: inline-block;
	position: absolute;
	top: 200px;
	right : 200px;
}




/*Carte*/
.CarteJeu{
	display: block;
	height: 100%;
	width : 100%;
	background-color: #86c6ca;
}
.CarteJeu article{
	display: inline-block;
}

.CoteCarte{
	width:100%;
	height:100%; 
}

.ImageJeu2{
	display: inline-block;
	background-size: contain;
	width: 11vw;
	height: 6.2vw;
	background-image: url(../pictures/Carte/bateau_carte.png);
	position: absolute;
	bottom: 22%;
	left : 3.5%;
	font-size: 0;
}

.ImageJeu1{
	display: inline-block;
	background-size: contain;
	width: 10vw;
	height: 7.8vw;
	background-image: url(../pictures/Carte/mouettes_rocher.png);
	position: absolute;
	top: 24.5%;
	left : 5%;
	font-size: 0;
}

.ImageJeu3{
	display: inline-block;
	background-size: contain;
	width: 6.7vw;
	height: 7.8vw;
	background-image: url(../pictures/Carte/algues_carte.png);
	position: absolute;
	bottom: 10%;
	left :13.5%;
	font-size: 0;
}

.ImageJeu4{
	display: inline-block;
	background-size: contain;
	width: 11.1vw;
	height: 7.5vw;
	background-image: url(../pictures/Carte/maison_carte.png);
	position: absolute;
	bottom: 42%;
	left :12.5%;
	font-size: 0;
}

.ImageJeu1:hover, .ImageJeu2:hover,.ImageJeu3:hover, .ImageJeu4:hover{
	opacity: 0.7;

}

/*JEU 1*/





/*JEU 2*/

.InterfaceJ2 article{
	display: inline-block;
}

.TextJ2{
	display: block;
	position: absolute;
	top : 2%;
	left : 45.5%;
}

.TextJ2 p {
	margin-top : 10px;
	margin-bottom: auto;
	text-align: center;
	line-height: 200px;
	font-size: 20px;
}

/*Solution trouvée sur le net pour centrer correctement*/
.TextJ2>p>span {
	display: inline-block;
	vertical-align: middle; /* on centre le 2e span */
	line-height: 0;
	margin-right: auto;
	margin-left : auto;
}
.TextJ2>p>span>span {
	line-height: 30px; /* on ajuste le "véritable" line-height du texte */
}

.barre{
	-webkit-appearance: slider-vertical;
}

.FondJ2{
	display: inline-block;
	background-image: url(../pictures/Jeu2/visu_jeu_peche.png);
	background-size: contain;
	height : 35vw;
	width : 60vw;    
	position: relative;
    top: 5vw;
    left: 20vw;
    border : 0.5vw solid white;
}

.Merlu1{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Merlu2{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Merlu3{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Merlu4{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Sole1{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Sole2{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Sole3{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Sole4{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Homard1{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Homard2{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Homard3{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.Homard4{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.SoleA{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.HomardA{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.MerluA{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.BateauP1{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.BateauP2{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.BateauM1{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.BateauM2{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}
.BateauG1{
	height : 0.1vw;
	width : 1vw;    
	position: relative;
    top: 30vw;
    left: 45vw;
}


.radioJ2 label{
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width : 30px;
	height: 30px;
	border-radius: 10px;
	position: relative;
	left : -20px;
	top : -20px;

	background-color: #ffffff;
	box-shadow: 2px 2px 0px 0px #999999; 	
	

}

.radioJ2 label:after
{
	opacity: 0;
	content: '';
	background: transparent;
	position: absolute;
	top: 9px;
	left: 8px;

	width: 12px;
	height: 5px;
	border: 5px solid #000000;
	border-top: none;
	border-right: none;

	transition: opacity 1s ease-out, transform 1s;
}


.radioJ2 input[type=radio]:checked + label:after {
	opacity: 1;
	transition: opacity 1s ease-out, transform 1s;
	transform: rotate(315deg);
}

.EnsembleRadio{
	display: inline-block;
	position: absolute;
	left: 56.5%;
	top : 28%;
	width :3%;
}
 #Bouton2050{

 }






/*Jeu3*/


/*Jeu4*/
/*
.MerJ4-1{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MerJ4-2{	
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MerJ4-3{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);
	position: absolute;
	top : 0%;
	left : 0%;
}
.MerJ4-4{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.SableJ4{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-1{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-2{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-3{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.MaisonJ4-4{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-1{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-2{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-3{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
.DigueJ4-4{
	width:  131px; 
	height : 163px;
	background-image: url(../pictures/Jeu2/homme_tronc.png);	
	position: absolute;
	top : 0%;
	left : 0%;
}
*/

/*Logos*/
.LogoEclaireur{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoCoselmar{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoAudencia{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoPolytech{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoAGR{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoMediaLab{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoPaysDeLaLoire{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoNantes{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoUnivNantes{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoHyblab{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoOpenSourceInitiative{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}
.LogoCC{
	background-image: url(../pictures/Logo/.png);
	position: relative;
	top : 0px;
	left : 0px;
}





/*Gestion en pages */

html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

#div1{
	width:80px;
	height:80px;
	display:block;
	background-color:red;
}