<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="fullpage">

    <div id="pageOne">
      <p>Aujourd'hui 354 personnes on joués une chanson sur Radio Sun</p>
      <a href="#pageTwo"></a><button>On Air</button>
    </div>


    <div id="pageTwo">
      <h1>Quand écoutes tu le plus la musique ?</h1>
      
      <div class="blocTwo">
        <p>//Saison</p>
      </div>
      
      <div class="blocTwo">
        <p>//Semaine/Weekend</p>
      </div>
      
      <div class="blocTwo">
        <p>Timeline</p>
      </div>
    </div>


    <div id="pageThree">
      

      <hr>
      
    </div>

    <div id="pageFour">
      
    </div>

  </body>
</html>