<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="javascripts/fullPage.js-master/jquery.fullPage.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/fullPage.js-master/jquery.fullPage.min.js"></script>


    <script type="text/javascript">
    	$(document).ready(function() {
			$('#fullpage').fullpage();
			
			$.fn.fullpage.setAllowScrolling(true);
			$.fn.fullpage.setKeyboardScrolling(true);
    	});
	</script>

    <script>
		$(document).ready(function() {
    	    $('.js-scrollTo').on('click', function() {
				$.fn.fullpage.moveSectionDown();
			});			
		});
    </script>

    <script type="text/javascript">
      function changer_image(image) {
          $('.image').css('background-image', 'url("'+image+'")');
      }
    </script>


    <script type="text/javascript">
      function toggle(el){
          if(el.className!="pause")
          {
              el.src='/images/bouton_semaine_weekend_page2v2.png';
              el.className="pause";
          }
          else if(el.className=="pause")
          {
              el.src='/images/bouton_semaine_weekend_page2.png';
              el.className="play";
          }
          
          return false;
      }
    </script>

  </head>

<body >
  
<div id="container">

    <div id="fullpage">
      <div id="pageOne" class="section">
        <img src="/images/logo-home.png">

        <p class="pageOnePremierP"><span id="randomWeek"></span></p>
        <p class="pageOneDeuxiemeP"><span id="randomWeek2"></span></p>
        <a class="js-scrollTo"><button>START</button></a>

      </div>

    <!--div id="pageOne" class="section">
      <p> <span id="numberOfMusicToday">? personne</span> ont joué une chanson sur Radio Sun</p>
      <a class="js-scrollTo" href="#pageTwo"><button>On Air</button></a>
    </div-->



      <div id="pageTwo" class="section">
        <h1>"Dites nous quand vous m'écoutez, je vous dirais ce que vous aimez"</h1>
        <h2>La rédac' SUN</h2>
        <hr>
        <div class="blocTwoOne">

          <form>
            <div class="cc-selector">
              <input id="printemps" type="radio" name="credit-card" value="printemps" class="season" />
              <label class="drinkcard-cc printemps" for="printemps"></label>

              <input id="ete" type="radio" name="credit-card" value="ete" class="season"/>
              <label class="drinkcard-cc ete"for="ete"></label>

              <input id="automne" type="radio" name="credit-card" value="automne" class="season"/>
              <label class="drinkcard-cc automne"for="automne"></label>

              <input id="hiver" type="radio" name="credit-card" value="hiver" class="season"/>
              <label class="drinkcard-cc hiver"for="hiver"></label>
            </div>
          </form>
        
        <div class="blocTwoTwo">
          <p class="inlineBloc">SEMAINE</p>
          
<!--<label class="switch">
  <input type="checkbox">
  <div class="slider"></div>
</label>-->

<input type="image" src="/images/bouton_semaine_weekend_page2.png" class="play" onclick="toggle(this);"/>
          
          <p class="inlineBloc">WEEK-END</p>
        </div>
        
        <div class="blocTwoThree">
          <p>Timeline</p>
        </div>
      </div>
    </div>


      <div id="pageThree" class="section">
        <div id="bubble3" width="400" height="200"></div>
        <input type="radio" name="season" value="summer" onclick="changeBubble(getRoad());">Été</input>
        <input type="radio" name="season" value="spring" onclick="changeBubble(getRoad());">Printemps</input>
        <input type="radio" name="season" value="autumn" onclick="changeBubble(getRoad());">Automne</input>
        <input type="radio" name="season" value="winter" onclick="changeBubble(getRoad());">Hiver</input>
      </div>

      <script src="./javascripts/pageOne.js"></script>
      <script src="./javascripts/pageThree.js"></script>
</div>
</div>

  </body>
</html>