<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

    <!-- Script de defilement -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
          $('.js-scrollTo').on('click', function() { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 750; // Durée de l'animation (en ms)
            $('html, body, #container, #content').animate( { scrollTop: $(page).offset().top }, speed ); // Go
            return false;
          });
        });
    </script>
  </head>

  <body id="fullpage">
  
<div id="container">
    <div id="content">


      <div id="pageOne">
        <img src="/images/logo-home.png">

        <p class="pageOnePremierP">En 2016, pendant les matinées d'été tout le monde écoute du rock !</p>
        <p class="pageOneDeuxiemeP">Et toi, c'est quoi ton mood...</p>
        <a class="js-scrollTo" href="#pageTwo"><button>START</button></a>
      </div>


      <div id="pageTwo">
        <h1>"Dites nous quand vous m'écoutez, je vous dirais ce que vous aimez"</h1>
        <h2>La rédac' SUN</h2>
        <hr>
        <div class="blocTwoOne">
          <div class="Saison">
            <p>aaaa</p>
          </div>
          <div class="Saison">
            <p>bbb</p>
          </div>
          <div class="Saison">
            <p>ccc</p>
          </div>
          <div class="Saison">
            <p>dddd</p>
          </div>
        </div>
        
        <div class="blocTwo">
          <p>//Semaine/Weekend</p>
        </div>
        
        <div class="blocTwo">
          <p>Timeline</p>
        </div>
      </div>


      <div id="pageThree">


      </div>

      <script src="./javascripts/pageOne.js"></script>

</div>
</div>


  </body>
</html>