<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Script de defilement -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
          $('.js-scrollTo').on('click', function() { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 750; // Durée de l'animation (en ms)
            $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
            return false;
          });
        });
    </script>
  </head>
  <body id="fullpage">
    <div id="pageOne" class="section">
      <p>Aujourd'hui <span id="numberOfMusicToday">? personne</span> ont joué une chanson sur Radio Sun</p>
      <a class="js-scrollTo" href="#pageTwo"><button>On Air</button></a>
    </div>
    <script src="./javascripts/pageOne.js"></script>


    <div id="pageTwo" class="section">
      <h1>Quand écoutes tu le plus la musique ?</h1>
      
      <div class="blocTwo">
        <p>//Saison</p>
      </div>
      
      <div class="blocTwo">
        <p>//Semaine/Weekend</p>
      </div>
      
      <div class="blocTwo">
        <p>Timeline</p>
      </div>
    </div>


    <div id="pageThree" class="section">
  
    </div>

    <div id="pageFour" class="section">
      
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.18.0.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fullPage.js"></script>
    <script type="text/javascript" src="functions.js"></script>
  </body>
</html>