<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="javascripts/fullPage.js-master/jquery.fullPage.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
    <link href="./dist/roundslider.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/jquery.roundslider/1.3/roundslider.min.js"></script>
    <script type="text/javascript" src="javascripts/fullPage.js-master/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="javascripts/jQueryRotate.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
			 $('#fullpage').fullpage();
			 $.fn.fullpage.setAllowScrolling(true);
			 $.fn.fullpage.setKeyboardScrolling(true);
       $('#timeline_value').html((" " + ($('#timeline').val()*2) + "h " + " " + ($('#timeline').val()*2+2) + "h "));
      });
	</script>

  <script>
    $(document).on('input change', '#timeline', function() {
      $('#timeline_value').html((" " + ($(this).val()*2) + "h " + " " + ($(this).val()*2+2) + "h "));
    });
  </script>
  <script>
		$(document).ready(function() {
    	    $('.js-scrollTo').on('click', function() {
				$.fn.fullpage.moveSectionDown();
			});	
		});
  </script>

  <script>
    $('input[type="range"]').rangeslider();
    $('input[type="range"]').rangeslider('destroy');
    $('input[type="range"]').rangeslider('update', true);
  </script>

    <script type="text/javascript">
      function changer_image(image) {
          $('.image').css('background-image', 'url("'+image+'")');
      }
    </script>

    <script type="text/javascript">
      function toggle(el){
          if(el.className!="pause")
          {
              el.src='/images/bouton_semaine_weekend_page2v2.png';
              el.className="pause";
          }
          else if(el.className=="pause")
          {
              el.src='/images/bouton_semaine_weekend_page2.png';
              el.className="play";
          }
          return false;
      }
    </script>
    <script type="text/javascript">
      function toggleTwo(el){
          if(el.className!="pause")
          {
              el.src='/images/ambiance_off.svg';
              el.className="pause";
          }
          else if(el.className=="pause")
          {
              el.src='/images/ambiance_on.svg';
              el.className="play";
          }
          return false;
      }
    </script>
    <script type="text/javascript">
      function toggleThree(el){
          if(el.className!="pause")
          {
              el.src='/images/btn-weekend.svg';
              el.className="pause";
          }
          else if(el.className=="pause")
          {
              el.src='/images/btn-semaine.svg';
              el.className="play";
          }
          return false;
      }
    </script>


    <script type="text/javascript">
          function changeImagePrintemps()
          {
          var img = document.getElementById("image");
          img.src="/images/btn-saison1.png";
          return false;
          }
    </script>
    <script type="text/javascript">
          function changeImageHiver()
          {
          var img = document.getElementById("image");
          img.src="/images/btn-saison2.png";
          return false;
          }
      </script>
          <script type="text/javascript">
          function changeImageAutomne()
          {
          var img = document.getElementById("image");
          img.src="/images/btn-saison4.png";
          return false;
          }
      </script>
          <script type="text/javascript">
          function changeImageEte()
          {
          var img = document.getElementById("image");
          img.src="/images/btn-saison3.png";
          return false;
          }
    </script>

  </head>

<body >
  
<div id="container">
  <div id="fullpage">
      <div id="pageOne" class="section">
        <img src="/images/logo-home.png">
        <p class="pageOnePremierP"><span id="randomWeek"></span></p>
        <p class="pageOneDeuxiemeP"><span id="randomWeek2"></span></p>
        <a class="js-scrollTo"><button>START</button></a>
      </div>


      <div id="pageTwo" class="section">
        <h1>"Dites nous quand vous m'écoutez, je vous dirais ce que vous aimez"</h1>
        <h2>La rédac' SUN</h2>
        <hr>
        <div class="col span_12_of_12">  
          <div class="blocTwoOne">
            <form>
              <div class="cc-selector">
                <div class="col span_3_of_12"> 
                  <input id="automne" type="radio" name="credit-card" value="automne" />
                  <label class="drinkcard-cc automne"for="automne"></label>
                </div>
                <div class="col span_3_of_12">
                  <input id="hiver" type="radio" name="credit-card" value="hiver" />
                  <label class="drinkcard-cc hiver"for="hiver"></label>
                </div>
                <div class="col span_3_of_12">   
                  <input id="printemps" type="radio" name="credit-card" value="printemps" />
                  <label class="drinkcard-cc printemps" for="printemps"></label>
                </div>
                <div class="col span_3_of_12">   
                  <input id="ete" type="radio" name="credit-card" value="ete" />
                  <label class="drinkcard-cc ete"for="ete"></label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="blocTwoTwo">
          <p class="inlineBlocSE">SEMAINE</p>
              <input type="image" src="/images/bouton_semaine_weekend_page2.png" class="play" onclick="toggle(this);"/>
          <p class="inlineBlocWE">WEEK-END</p>
        </div>
        <div class="blocTwoThree">
          <input id="timeline" type="range" value="6" max="11" min="0" step="1"/>
          <span id="timeline_value"></span>
        </div>
       
        <a class="js-scrollTo"><button>VALIDER</button></a>
      </div>

      <div id="pageThree" class="section">
<a name="slider3"/>
        
        <div id="bubleChart">
          <audio id="Alternative">
            <source src="/music/Alternative.mp3" type="audio/mp3">
          </audio>
          <audio id="Rock">
            <source src="/music/Rock.mp3" type="audio/mp3">
          </audio>
          <audio id="Pop">
            <source src="/music/Pop.mp3" type="audio/mp3">
          </audio>
          <audio id="Jazz">
            <source src="/music/Jazz.mp3" type="audio/mp3">
          </audio>
          <audio id="Urban">
            <source src="/music/Urban.mp3" type="audio/mp3">
          </audio>
          <audio id="Electro">
            <source src="/music/Electro.mp3" type="audio/mp3">
          </audio>

        <div id="boutonBuble">
          <div id="boutonBubleTop">
            <div id="boutonBubleTopLeft">
              <img src="/images/SUN-LABEL2-BLEU.svg">
            </div>
            <div id="boutonBubleTopRight">
              <p>Genre</p>
              <input type="image" src="/images/ambiance_on.svg" id="moodVsGenre" class="play" onclick="toggleTwo(this); changeBubble(getRoad());"/>
              <p>Ambiance</p>
            </div>
          </div>
          <div id="boutonBubleBottom">
            <div id="boutonBubleBottomLeft">
              <p>Semaine</p>
              <input type="image" src="/images/btn-semaine.svg" id="weekOrWeekEnd" class="play" onclick="toggleThree(this); changeBubble(getRoad());"/>
              <p>Week-end</p>
            </div>
            <div id="boutonBubleBottomRight">

                <label for="slider">Printemps</label>
                <label for="slider">Été</label>
                <div id="slider"></div>
                <label for="slider">Hiver</label>
                <label for="slider">Automne</label>
                <script type="text/javascript">
                    $("#slider").roundSlider({
                      handleShape: "dot",
                      handleSize: "34,10",
                      width: "44",
                      radius: "46",
                      value: 45,
                      animation: false,
                      showTooltip: false,
                      editableTooltip: false,
                      keyboardAction: false,
                      max: "4",
                      startAngle: 45,

                      change: function (args) {
                        setSaison(slider.getValue());
                        changeBubble(getRoad());
                      }
                    });
                </script>
            <!--<form>
              <div id="btnOne">
                <input type="radio" name="parfum" value="vanille" id="saison_printemps" onclick="changeImagePrintemps();"/><label for="saison_printemps">Printemps</label>
              </div>
              <div id="btnTwo">
                <input type="radio" name="parfum" value="chocolat" id="saison_hiver" onclick="changeImageHiver();"/><label for="saison_hiver">Hiver</label>
              </div>
              <div id="btnSaisonImg">
                <img id="image" src="/images/btn-saison.png">
              </div>
              <div id="btnThree">
                <input type="radio" name="parfum" value="automne" id="saison_automne" onclick="changeImageAutomne();"/><label for="saison_automne">Automne</label>
              </div>
              <div id="btnFour">
                <input type="radio" name="parfum" value="ete" id="saison_ete" onclick="changeImageEte();"/><label for="saison_ete">Été</label>
              </div>
            </form>-->

            </div>
          </div>
        </div>

        <div id="BubleBottom">
          
        </div>
      </div>

      <div id="pageFour">
        <div id="pageFourTop">
          <div id="pageFourTopLeft">
            <img src="/images/page4_logo.png">
          </div>
          <div id="pageFourTopCenter">
            <div id="pageFourTopCenterBarre">
              <img src="/images/page4_tiret_haut_graphique.png">
            </div>
            <div id="pageFourTopCenterGraph">
              
            </div>
          </div>
          <div id="pageFourTopRight">
            <p id="pageFourTopRight1">URBAN</p>
            <p id="pageFourTopRight2">ALTERNATIVE</p>
            <p id="pageFourTopRight3">ROCK</p>
            <p id="pageFourTopRight4">POP</p>
          </div>
        </div>
        <div id="pageFourBottom">
          <img src="/images/page4_logo_sun.png">
          <p>Dans vos oreilles ces dernières 24h...</p>
        </div>
      </div>

      <script src="./javascripts/pageOne.js"></script>
          <script src="./javascripts/pageTwo.js"></script>

      <script src="./javascripts/pageThree.js"></script>
  </div>
</div>

</body>
</html>