<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <svg width="960" height="480"></svg>
    <script type="text/javascript" src="/javascripts/dataviz.js"></script>

  </body>
</html>