@CHARSET "UTF-8";

@font-face {
    font-family: 'Borg';
    src: url("../font/Borg.ttf");
}

html,body {
    padding: 0;
    margin: 0;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

h2{
	color: #C2DEBC;
	font-size: 4vmin;
	text-align: center;
	top : 2vh;
	width: 75vw;
	margin: 0 12.5vw;
}

h3{
    color: #C2DEBC;
	font-size: 4vmin;
	text-align: center;
	top : 25vh;
	width: 75vw;
    margin-left : auto;
    margin-right : auto;
}

p{
  color: white;
}

#enroute{
    cursor: pointer;
    display: block;
    top: 25px;
    margin-left : auto;
    margin-right : auto;
    font-size: 2.5em;
    background-color: white;
    border : none;
    color: #35a8e0; /* font-color */
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

#section1, #section2, #section6 {
  background: linear-gradient(to bottom, #0f4864, #35a8e0);
}

#scenario1, #scenario2, #scenario3 {
  background-color: #efefef;
}

.footer {
    position: absolute;
    bottom: -18px;
    left: -1.8%;
    max-width: 105%;
}

.content{
  background: linear-gradient(to bottom,  #216c99, #35a4dc);
  position: fixed;
  top: 0%;
  height: 100%;
  width: 100%;
}

#home {
  z-index: 0;
  position: absolute;
  top: 0%;
  left: 0vh;
  width: 100%;
  height: 100%;
}

#textIntro {
  z-index: 1;
  position: absolute;
  width: 28vw;
  bottom: 2vw;
  left: 63vw;
}

#center
{
  position: absolute;
  bottom: 10vh;
  left: 28.5vw;
  height: 67vh;
}

#center h2
{
  z-index: 3;
  font-family: 'Borg';
  position: absolute;
  width: 23vw;
  height: 23vh;
  font-size: 8em;
  text-align: -webkit-left;
  color: white;
  top: -15vh;
  left: -6vh;
}

#center h5
{
  position: absolute;
  color: white;
  left: 9.2vw;
  top: -20vh;
  font-size: 1.3em;
  width: 100vw;
}

#center #commencer
{
  z-index: 4;
  position: absolute;
  cursor: pointer;
  font-size: 1.5em;
  background-color: white;
  border: none;
  color: #216c99;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  width: 13vw;
  height: 5vh;
  bottom: 16vh;
  left: 21vw;
}

#section2 #car
{
  z-index: 2;
  position: absolute;
  bottom: 49vh;
  left: 25vw;
  height: 21vh;
  width: 16vw;
  animation:mymove 5s infinite;
  -moz-animation:mymove 5s infinite; /*Firefox*/
  -webkit-animation:mymove 5s infinite; /*Safari and Chrome*/
}

#section2 #route
{
  z-index: 1;
  position: absolute;
  width: 43vw;
  height: 60vh;
}

@keyframes mymove
{
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-350px,205px);
    }
}
@-moz-keyframes mymove /*Firefox*/
{
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-350px,205px);
    }
}
@-webkit-keyframes mymove /*Safari and Chrome*/
{
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-350px,205px);
    }
}

#arrow_l, #arrow_d
{
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    background-size: 100%;
    background-size: 40px auto;
}

#arrow_l
{
    background-image: url("../img/fleche-gauche-blanche.svg");
    float: left;
    margin-left: 25vw;
}

#arrow_d
{
    background-image: url("../img/fleche-droite-blanche.svg");
    float: right;
    margin-right: 25vw;
}

#base1 {
  z-index:5;
  position: absolute;
  top: 0%;
  width: auto;
  height: 100%;
}

#base2 {
  z-index: 5;
  position: absolute;
  top: 0%;
  left: 0%;
  width: auto;
  height: 100%;
}

#base3 {
  z-index: 5;
  position: absolute;
  top: -0.4%;
  height: 100%;
  width: auto;
}

#container1 #encadre1 {
    z-index: 0;
    position: absolute;
    top: 23vh;
    width: 60.7vh;
    left: 63.5vh;
}

#container1 #buttonEncadre1
{
    position: absolute;
    opacity: 0;
    border-radius: 100%;
    z-index: 11;
    cursor: pointer;
    background-color: #1f1c1c;
    left: 118vh;
    bottom: 25vh;
    height: 11.5vh;
    width: 11.5vh;
}

#container2 #encadre2 {
    z-index: 0;
    position: absolute;
    bottom: 29vh;
    width: 70vh;
    left: 61vh;
}

#container2 #buttonEncadre2
{
    position: absolute;
    border-radius: 100%;
    opacity: 0;
    z-index: 11;
    cursor: pointer;
    background-color: #1f1c1c;
    left: 56.7vh;
    bottom: 19.5vh;
    height: 10.5vh;
    width: 10.5vh;
}

#drapeau {
    z-index: 12;
    position: absolute;
    bottom: 36vh;
    left: 124vh;
    width: 13vh;
}

#container3 #encadre3 {
    z-index: 0;
    position: absolute;
    width: 67vh;
    bottom: 47vh;
    left: 64.5vh;
}

#container3 #buttonEncadre3
{
    z-index: 13;
    position: absolute;
    opacity: 0;
    border-radius: 100%;
    cursor: pointer;
    background-color: #1f1c1c;
    height: 10.5vh;
    bottom: 38vh;
    left: 125.1vh;
    width: 10.5vh;
}

@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
  50% { box-shadow:0 0 30px #ea4c89, inset 0 0 30px #ea4c89; }
  100% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
}

.effect1 {
  z-index: 10;
  position: absolute;
  background-color:transparent;
  width: 10vh;
  height: 10vh;
  border-radius:50px;
  left: 118vh;
  bottom: 26vh;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  -webkit-animation: pulse 1s linear 1s infinite;
}

.effect2 {
  z-index: 10;
  position: absolute;
  background-color:transparent;
  width: 10vh;
  height: 10vh;
  border-radius:50px;
  left: 57vh;
  bottom: 19.7vh;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  -webkit-animation: pulse 1s linear 1s infinite;
}

.effect3 {
  z-index: 12;
  position: absolute;
  background-color:transparent;
  width: 10.5vh;
  height: 10.5vh;
  border-radius:50px;
  left: 125.3vh;
  bottom: 38.2vh;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  -webkit-animation: pulse 1s linear 1s infinite;
}
