@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
html,body {
    padding: 0;
    margin: 0;
}

#section0, #section1, #section2, #section6 {
  background: linear-gradient(to bottom, #0f4864, #35a8e0);
}

#section3, #section4, #section5 {
  background-color: #efefef;
}

.footer{
  position: absolute;
  bottom: -18px;
  left: -25px;
}
