#arrow_l, #arrow_m, #arrow_d
{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#arrow_l
{
    background-color: red;
    float: left;
}

#arrow_m
{
    background-color: grey;
    float: 50%;
}
#arrow_d
{
    background-color: green;
    float: right;
}
