@CHARSET "UTF-8";

html,body {
    padding: 0;
    margin: 0;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

h2{
	color: #C2DEBC;
	font-size: 4vmin;
	text-align: center;
	top : 2vh;
	width: 75vw;
	margin: 0 12.5vw;
}

h3{
    color: #C2DEBC;
	font-size: 4vmin;
	text-align: center;
	top : 25vh;
	width: 75vw;
    margin-left : auto;
    margin-right : auto;
}

#enroute{
    display: block;
    top: 25px;
    margin-left : auto;
    margin-right : auto;
    font-size: 2.5em;
    background-color: red;
    border : none;
    color: white; /* font-color */
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

#section0, #section1, #section2, #section6 {
  background: linear-gradient(to bottom, #0f4864, #35a8e0);
}

#scenario1, #scenario2, #scenario3 {
  background-color: #efefef;
}

.footer {
    position: absolute;
    bottom: -18px;
    left: -1.8%;
    max-width: 105%;
}

#center
{
  position: absolute;
  bottom:47%;
  left:51%;
}

#section2 #car
{
    z-index: 2;
    position:absolute;
    bottom: 147px;
    left: 22px;
    animation:mymove 5s infinite;
    -moz-animation:mymove 5s infinite; /*Firefox*/
    -webkit-animation:mymove 5s infinite; /*Safari and Chrome*/
}

#section2 #route
{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 550px;
    margin-left: -350px;
    margin-top: -350px;
}

@keyframes mymove
{
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-350px,205px);
    }
}
@-moz-keyframes mymove /*Firefox*/
{
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-350px,205px);
    }
}
@-webkit-keyframes mymove /*Safari and Chrome*/
{
    0%{
        transform: translate(0,0);
    }
    100% {
        transform: translate(-350px,205px);
    }
}

#arrow_l, #arrow_d
{
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    background-size: 100%;
    background-size: 40px auto;
}

#arrow_l
{
    background-image: url("../img/fleche-gauche-blanche.svg");
    float: left;
    margin-left: 8%;
}

#arrow_d
{
    background-image: url("../img/fleche-droite-blanche.svg");
    float: right;
    margin-right: 8%;
}

#base1 {
  position: absolute;
  top: 0%;
  width: auto;
  height: 100%;
}

#base2 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: auto;
  height: 100%;
}

#base3 {
  position: absolute;
  top: -0.4%;
  height: 100%;
  width: auto;
}
