/*#stackedbarchart1 {
    position: relative;
    overflow: hidden;
    width: 800px;
    //height: 100px; 
    border: 0px solid black;
}*/
.chartandlegend{
	/*
	overflow: visible;
	padding:5px;
	position: absolute;
	*/
	position: relative;
	margin-right: 10%;
	width:600px;
	float : right;
	border-width:0px;
	vertical-align: middle;
	
}
#stackedbartitle{
	position: relative;
	display:inline-block;
	width:100%;
	border-width:0px;
	vertical-align: text-center;
	text-align:center;
	font: normal bold 16px "Comic Sans MS", cursive, sans-serif;
    fill: #001526;
	
}
#stackedbartitle #stackedbartitleunit{
	display:inline-block;
	position: relative;
	border-width:0px;
	text-align:center;
	font-size:10px;
}
#stackedbarchart{
	display:inline-block;
	/*position: relative;*/
	border-width:0px;
	/*padding:5px;*/
}
/*
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}*/

#stackedbarchart .c3-axis-y text {
   fill: red;
   font-size:12px;
}
#stackedbarchart .c3-axis-x text {
    font: italic bold 15px Georgia, serif;
    fill:	#001526;	
}
/*.c3-axis-x .tick line{
  display: none;
}*/
#stackedbarchart .c3-axis-x line {
	stroke-width:0px;	
}
#stackedbarchart .c3-axis-x path {
    /*stroke:#00C745;*/
	stroke-width:0px;	
}
#stackedbarchart .c3-xgrid-focus line {
	stroke-width:0px;	
}
#stackedbarchart .c3-title {
font: normal bold 20px "Comic Sans MS", cursive, sans-serif;
  /*font-size: 20px;*/
 // stroke: #8B0000;
  fill: #001526; 
}
#stackedbarchart .c3-legend-item {
//font-size:15px;
font: italic bold 15px Georgia, serif;
fill:#00C745;
 }
 
 
/*-- Tooltip --*/
#stackedbarchart .c3-tooltip-container {
  z-index: 10; }

#stackedbarchart .c3-tooltip {
  border-radius:25px; 
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; 
  }

#stackedbarchart .c3-tooltip tr {
  border: 1px solid #CCC; 
   }

#stackedbarchart .c3-tooltip th {
  font: italic bold 15px Georgia, serif;
  background-color: #aaa;
  //font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
 }

#stackedbarchart .c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

#stackedbarchart .c3-tooltip td > span {
  display: inline-block;
  width: 10px; //largeur de legend couleur
  height: 10px;
  margin-right: 6px;
border-radius:15px;  }

#stackedbarchart .c3-tooltip td.value {
  text-align: right;
font: normal bold 15px "Comic Sans MS", cursive, sans-serif;  }

.stackedbartooltip
{
	font: normal bold 15px "Comic Sans MS", cursive, sans-serif;
	background-color:#DCDCDC;
	border: 2px solid;
    border-radius: 20px;
	border-width:2px;
	padding:5px;
	font-size:15px;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	-webkit-box-shadow: 7px 7px 12px -9px #777777;
	-moz-box-shadow: 7px 7px 12px -9px #777777;
	box-shadow: 7px 7px 12px -9px #777777;
	opacity: 0.9; 
}/*
.legend span {
    width: 33.333333%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: white;
}*/

/*
.containerstacked .legend{
	vertical-align: middle;
	text-align: center;
}*/
#stackedbarchart2
{
	width:100%;
	vertical-align:middle;
}
.containerstacked {
    position: relative;
	display: inline-block;
	border-width:0px;
	margin:2px;
    /*border-style: solid;
    border-color: #8B0000;*/
	/*padding:5px;
	right:1px;*/
	width:50;
    text-align: center;
}
.containerstacked .c3-legend-item-hidden {
  opacity: 0.3; }
/*.containerstacked .legned div {
  width: 100%;
}

*/

