.ct-chart-bar .ct-label.ct-horizontal.ct-end {
	font-size: 0.9em;
}

.ct-label.ct-vertical.ct-start {
	font-size: 0.9em;
}

.ct-series-a > line {
	stroke: #481C8C !important;
}

.ct-series-b > line {
	stroke: #DE8948 !important;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    font-size: 1.7em;
    color: #481C8C;
    font-family: fantasy;
}

#label-aout {
	background-color: #481C8C !important;
}

#label-octobre {
	background-color: #DE8948 !important;
}

.ct-grid {
    stroke: rgba(0, 0, 0, 0.0);
}