#bandeauposition{
	position:absolute;
	display:absolute;
	bottom:10px;
	width:100%;
	text-align:center;
	vertical-align:middle;
	
}
    #bandeau {
	position:relative;
	 display:inline-block;
	 width:75vw;
	 margin:auto;
	 padding:8px;
	 background-color:#ffffff;
	vertical-align:middle;
	text-align:center;
    }

    #bandeau li{
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 12px;
    }


    #bandeau img{
      height: 46px;
    }

    #bandeau #hyblab{
      margin: 46px 0;
      height: 50px;
      float: left;
    }

    #bandeau #cc, #bandeau #opensource
    {
      height:16px;
    }

    #bandeau .stacked{
      display:block;
    }

    #bandeau ul{
      text-align: center;
      padding: 0 0;
    }

    #bandeau .institutionnel
    {
      height: 42px;
    }
	
	#texteremerciements{
		position:relative;
		width:80%;
		top:10vh;
		margin:auto;
		text-align:center;
		font-size: 16pt;
		font-weight:600;
		font-family: Josefin Sans;
		color: #001526;
	}
	#srcdonnees{
		font-size: 11pt;
		font-weight:400;
	}