#popover2013 {
    position: absolute;
    display: none;
    left: 45vw;
    top: 60vh;
    width: 21vw;
    font-size: 11pt;
    font-family: Josefin Sans;
    color:white;
    font-weight: bold;
}

#bulle2013 {
	width: 20vw;
}

#texte2013 {
	padding: 1em;
    background-image: url(../img/bulle2013.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.presse {
	position: absolute;
    
    font-size: 11pt;
    font-family: Josefin Sans;
    color: #f43f00;
    font-weight: bold;	
    -vendor-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -khtml-animation-duration: 3s;
}
#presse2013 {
	display: none;
	left: 9vw;
    top: 40vh;
    width: 20vw;
    height: 10vh;
}

#textepresse2013 {
	padding: 1em;
    background-image: url(../img/presse2013_vide.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 11vh;
    text-align: right;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 1.5vw;
}

#textehistoire2013 {
	position: absolute;
    display: block;
    left: 35vw;
    top: 5vh;
    width: 30vw;
    height: 10vh;
    font-size: 11pt;
    font-family: Josefin Sans;
    color: #001526;
    font-weight: 600;
}

.textenum {
	font-size: 13pt !important;
}

.gras {
	color: #f43f00;
	font-weight: bold;
	font-size: 12pt;
}

#funfact2013 {
    position: absolute;
    display: none;
    left: 79vw;
    top: -6vh;
    width: 20vw;
}

#textefunfact2013 {
	vertical-align: middle;
    margin-right: 0;
    padding-right: 0;
    width: 100%;
}

#funfact2014 {
    position: absolute;
    display: block;
    left: 79vw;
    top: -6vh;
    width: 20vw;
}

#textefunfact2014 {
	vertical-align: middle;
    margin-right: 0;
    padding-right: 0;
    width: 100%;
}

#textehistoire2011 {
	position: absolute;
    display: block;
    left: 35vw;
    top: 5vh;
    width: 50vw;
    height: 10vh;
    font-size: 11pt;
    font-family: Josefin Sans;
    color: #001526;
    font-weight: 600;
}

#textehistoire2012 {
	position: absolute;
    display: block;
    left: 35vw;
    top: 5vh;
    width: 50vw;
    height: 10vh;
    font-size: 11pt;
    font-family: Josefin Sans;
    color: #001526;
    font-weight: 600;
}


#titre2011 {
    position: absolute;
    display: block;
    /* left: 22vw; */
    top: 40vh;
    width: 100vw;
    height: 50vh;
    font-size: 42pt;
    font-family: Josefin Sans;
    color: #001526;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}