#popover2013 {
    position: absolute;
    display: none;
    left: 45vw;
    top: 60vh;
    width: 21vw;
    font-size: 1em;
    font-family: Josefin Sans;
    color:white;
    font-weight: bold;
}

#bulle2013 {
	width: 20vw;
}

#texte2013 {
	padding: 1em;
    background-image: url(../img/bulle2013.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#presse2013 {
	position: absolute;
    display: block;
	left: 9vw;
    top: 40vh;
    width: 20vw;
    height: 10vh;
    font-size: 1em;
    font-family: Josefin Sans;
    color: #f43f00;
    font-weight: bold;	
}

#textepresse2013 {
	padding: 1em;
    background-image: url(../img/presse2013_vide.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 11vh;
    text-align: right;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 1.5vw;
}