.horizon {
    line-height: 0;
    z-index: 100;
    width: 3000px;
}

.middle {
    z-index: 250;
    line-height: 0;
    width: 4500px;
}

.front {
    z-index: 500;
    top: 150px;
    width: 6000px;
}

.element {
	left: 200px;
    top: 0px;
    width: 40em;
    position: absolute;
}