.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  background : url(../img/fond2.svg);
	width:100%;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}
.skyblue {
  width:100%;
}
.slide2012 {
  width:100%;
}
.page-accueil {
  width:100%;
}
.darkerskyblue {
  width:100%;
}
.slide2011 {
  width:100%;
}
.slide2013 {
  width:100%;
  background: url(../img/fond_2013.svg);
  background-size:     cover;  
  background-repeat:   no-repeat;
    background-position: center center;          
}

.darkerskyblue .skyblue .deepskyblue {

}
.carousel-indicators {
  bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
}
.carousel .item {
  min-height: 350px; 
  height: 100%;
  width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
  background-color: #09c;
}
.carousel-caption h3 {
  padding: .5em;
}
.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}
.carousel-caption button {
  border-color: #00bfff;
  margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
  animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}
.carousel-caption #circleBarCharts {
  animation-delay: 3s;
}


.carousel-caption button {
  animation-delay: 3s;
}


.p {
  text-align: center;
}

.p a {
  text-decoration: underline;
}