/*Allows the use of Quicksand font in the css file*/
@font-face {
    font-family: quicksand;
    src: url(quicksand/Quicksand_Book.otf);
}
@font-face {
    font-family: quicksandBold;
    src: url(quicksand/Quicksand_Bold.otf);
}


html, body{
	padding:0;
	margin: 0;
	font-family: quicksand;
}


#image_fond{
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}

#sous-titre{
	position:absolute;
	padding:0;
	margin:0;
	height: 10%;
	width: 35%;
	font-size: 2.5vmin;
	top:18%;
	left:31.5%;
	text-align: center;
	color:#000044;
}

#texte-bouton{
	position:absolute;
	padding:0;
	margin:0;
	height: 3.5%;
	width: 11%;
	font-size: 1.7vmin;
	top:26.45%;
	left:43%;
	text-align: center;
	font-family:quicksandBold;
	color:white;
	padding-top:0.8%;
}

@media only screen and (max-width: 880px){
	#sous-titre{
		font-size: 1.8vmin;
	}

	#texte-bouton{
		font-size: 1vmin;
	}
}

#nuages{
	position: absolute;
	z-index: -2;
	height: 69%;
	width: 69%;
	top:22%;
	left:14.7%;
}

#aiguille1{
	position: absolute;
	height: 25%;
	width: 25%;
	left: 12.78%;
	top:40.5%;
}

#aiguille2{
	position: absolute;
	height: 25%;
	width: 25%;
	left: 12.73%;
	top:40.55%;
}

#main{
	position: absolute;
	height:13%;
	width: 13%;
	top:43.2%;
	left: 30.5%;
}

#cle_USB{
	z-index: -3;
	position: absolute;
	height:13%;
	width: 13%;
	bottom:23%;
	left: 24%;
}

#fleche{
	position: absolute;
	height:4.5%;
	width: 4.5%;
	top:39%;
	right: 26.5%;
}

#personnage{
	position: absolute;
	height:17%;
	width: 17%;
	bottom:24%;
	left: 40.5%;
	opacity: 0;
}

 .responsive_container
{
	overflow: hidden;
	width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.responsive-container-exception{
	overflow: hidden;
	width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 200vh; /* 16/7 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

#intro-fond{
	z-index: 0;
	height: 100%;
	width: 100%;
}

#yeux{
	z-index: -2;
	position: absolute;
	top:32%;
	left:19.8%;
	height: 8.5%;
	width: 8.5%;
}

#paupieresHaut{
	z-index: -1;
	position: absolute;
	top:23%;
	left:16.5%;
	height: 15%;
	width: 15%;
}

#paupieresBas{
	z-index: -1;
	position: absolute;
	top:34.7%;
	left:17%;
	height: 15%;
	width: 14%;
}

#tableau{
	z-index:-1;
	position: absolute;
	top:-37%;
	left:26.45%;
	height: 75%;
	width: 75%;
}

#aiguilleMotion1, #aiguilleMotion2{
	position: absolute;
	height: 30%;
	width: 30%;
	left: 1%;
	top:3.75%;
}

video{
	z-index: 0;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 49.8%;
	height:63%;
	top:18%;/*18% for full scrolling*/
	right:11.40%;
	opacity:0;
}

#thumbnail{
	z-index: 50;
	position:absolute;
	width:49.8%;
	height: 49.8%;
	top:27%;
	right:11.4%;
	opacity:0;
}

#thumbnail:hover{
	cursor:pointer;
}

/* Dataviz2 */

#dataviz2-section h1{
	font-size: 4.5vmin;
    -webkit-margin-after: 0.20em;
}

#dataviz2-sous-titre{
	text-align: center;
}

@media only screen and (max-width: 860px){
	#dataviz2-section h1{
		font-size: 3vmin;
	}

	#dataviz2-sous-titre{
		font-size: 1.8vmin;
	}
}

.node {
    cursor: pointer;
    stroke : #000040;
    stroke-width : 1.5px;
    stroke-opacity : 0.6;
    margin: 1px;
}

.node:hover {
    stroke: #000;
    stroke-width: 3px;
}

.node--leaf {
    fill: white;
    stroke-width : 0px;
}

.node--root {
    stroke-width : 0px;
    fill : none;
}

.label {
    font: 12px "quicksandBold","Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    fill : black;
    text-shadow: 0 1px 0 #EFF4F9, 1px 0 0 #EFF4F9, -1px 0 0 #EFF4F9, 0 -1px 0 #EFF4F9;
   /* text-shadow: 0 1px 0 #ffffff, 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 -1px 0 #ffffff;*/
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.svg-container {
	display: inline-block;
	position : absolute;
	width : 46%;
	height: 80%;
	vertical-align : middle;
	overflow: hidden;
	/*border:#333 1px solid;*/
	border-radius: 20%;
	bottom: 1px;
}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left : 0;
}

.listLegend {
	margin : -3%;
	width : 108%;
	list-style-type: none;
}

#divLegend{
	top: 22%;
	left : 45%;
    position: absolute;
    display: block;
    width: 25%;
}

#divDownload{
	display : block;
	width : 40%;
	height: 100%;
	position : absolute;
	top : 40%;
	left : 65%;
}

#textDownload {
	position : absolute;
	top : 24%;
	left : 18%;
	text-align: center; 
	width : 67%;
}

.textLegend {
	position: relative;
	bottom : 12px;
	display: inline;
	margin : 1%;
	width: 100%;
}

.mapLegend {
	height : 26px; 
	width : 20px;
	margin: 1%;
}

/* Color pie download*/
 .Cservices {
 	stroke: #001DC3;

 }
  
.Cmarche {
	stroke : #1E47E9;
}
     
.Cconstruire {
	stroke : #3C62EB;
}

.Cbudget{
	stroke : #5A7DEE;
} 
    
.Celection{
	stroke : #7897F1;
} 
  
.Cassociation{
	stroke : #96B2F4;
} 

.Csubventions{
	stroke : #B4CDF6;
} 

.Cpv{
	stroke : #C3DBF8;
} 
        
.Curbanisme{
	stroke : #00F9DB;
} 
 
.Cenvironnement{
	stroke : #00F7BE;
}
.Ctransport{
	stroke : #00F6A0;
}
  
.Cequipements{
	stroke : #00F483;
}

.Cculture {
	stroke : #00F365;
}
   
.Ceducation{
	stroke : #00F02B;
}


.ct-slice-donut{
	stroke-width:40px;
}

@media only screen and (max-width: 1150px){
	#divDownload{
		width: 30%;
	}

	.textLegend{
		font-size: 1.5vmin;
	}
}

@media only screen and (max-width: 960px){
	.listLegend{
		height: 4vmin;
	}
}

@media only screen and (max-width: 800px){
	.textLegend{
		font-size: 0.9vmin;
	}
	.listLegend{
		height: 3vmin;
	}
}

@media only screen and (max-width: 570px){
	.textLegend{
		font-size: 0.8vmin;
	}
}

@media only screen and (max-width: 750px){
	#textDownload{
		font-size: 1.5vmin;
	}

	#textDownload b{
		font-size: 2vmin;
	}

	#dataviz2-sous-titre{
		top:;
	}
}


/* DATAVIZ 1*/

/*#titre{
	position: absolute;
	width: 35%;
	height: 18%;
	left:15%;
}*/
#datavizEvo h1{
	position: absolute;
	top:5%;
	right:45%;
	font-size:4.5vmin;
}

@media only screen and (max-width: 1150px){
	#datavizEvo h1{
		font-size: 3vmin;
	}
}

@media only screen and (max-width: 850px){
	#datavizEvo h1{
		font-size: 2vmin;
	}
}

#graphe{
	position: absolute;
	width: 45%;
	margin:auto;
	top:21%;
	left:5%;
	font-size: 85%
}

#radios{
	margin-left: 6.5%;
}

@media only screen and (max-width: 850px){
	#radios{
		/*height: 3vmin;*/
		margin-bottom: 5vmin;
	}

	#radios label{
		font-size: 1.5vmin;
	}
}

@media only screen and (max-width: 1000px){
	#legende p{
		font-size:1.5vmin;
	}
}

@media only screen and (max-width: 750px){
	#radios{
		/*height: 3vmin;*/
		margin-bottom: 1.5vmin;
	}

	#radios label{
		top:8vmin;
	}

	#legende p{
		font-size:1vmin;
	}
}

#imagePerso{
	position: absolute;
	top:58%;
	width: 15%;
	left:55%;
}

#imageBullePerso{
	position: absolute;
	top:58%;
	width: 21%;
	height: 40%;
	left:65%;
}
#topCreate,#flopCreate,#topUpdate,#flopUpdate{
	position: absolute;
	height:26%;
	width:13%;
	text-align: left;
}
#topCreate ul,#flopCreate ul,#topUpdate ul,#flopUpdate ul{
	padding: 0;
	padding-left: 15%;
	margin:0;
}

#topCreate,#flopCreate{
	top:7.5%;
}

#topUpdate,#flopUpdate{
	top:38.5%;
}

#topCreate,#topUpdate{
	left:59%;
}

#flopCreate,#flopUpdate{
	left:77%;
}


#topFlop p{
	
}

#topFlop li {
	list-style-type: decimal;
	color:#000033;
	font-size:2vmin;
}


#explicationAnnee{
	position: absolute;
	left:70%;
	top:68%;
	width: 15%; 
	height: 23%;
	/*border: 3px solid #000000; */
}

#explicationAnnee p{
	font-size:2vmin;
}

#explication2014,#explication2015,#explication2016,#explication2017{
	display: none;
}


#imageTopC,#imageFlopC,#imageTopU,#imageFlopU{
	position: absolute;
	height:26%;
	width:15%;
}

#imageTopC,#imageTopU{
	left:58%;
}

#imageFlopC,#imageFlopU{
	left:76%;
}

#imageTopC,#imageFlopC{
	top:2%;
}

#imageTopU,#imageFlopU{
	top:33%; 
}

#legendC,#legendU{
	position:absolute;
	top:92.5%;
}

#donneP,#donneM{
	position:absolute;
	top:92%;
	font-size:2vmin;
}
#legendC,#legendU{
	width: 5%; 
}

#legendC{
	left:11%;
}

#donneP{
	left:17%;
}

#legendU{
	left:29%;
}

#donneM{
	left:35%;
}

@media only screen and (max-width:1050px){
	#topCreate ul li, #flopCreate ul li, #topUpdate ul li, #flopUpdate ul li{
		font-size: 1.5vmin;
	}

	#explicationAnnee div p{
		font-size: 1.5vmin;
	}
}

@media only screen and (max-width:860px){
	#explicationAnnee div p{
		font-size: 1vmin;
	}
}

/*** Conclusion****/
#conclusion-fond{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	top,bottom:0;
	left,right: 0;
}

#panneau-conclusion{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top:-100%;
	left,right: 0;
}

#panneau-conclusion-ombre{
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left,right: 0;
	opacity: 0;
}

#titre-conclusion{
	z-index: 2;
	position: absolute;
	width: 40%;
	height: 10%;
	font-size: 4vmin;
	left: 30%;
	top:26%;
	opacity: 0;
}

#texte-conclusion{
	z-index: 2;
	position: absolute;
	width: 50%;
	height: 10%;
	font-size: 2.5vmin;
	left: 25%;
	top:42%;
	text-align: center;
	opacity: 0;
}

@media only screen and (max-width: 1000px){
	#titre-conclusion{
		font-size: 3vmin;
	}

	#texte-conclusion{
		font-size: 2vmin;
	}
}

@media only screen and (max-width: 787px){
	#titre-conclusion{
		font-size: 2.5vmin;
	}

	#texte-conclusion{
		font-size: 1.5vmin;
	}
}

/*** Dataviz 3 ***/
#listeRegion2 {
	font-size: 2vmin;
	width : 90%;
	text-align: left; 
	background-color : #000040; 
	color:white; 
	border : solid 2px #000040; 
	border-radius : 5px;
} 

#listeRegion1 {
	font-size: 2vmin;
	width : 90%;
	text-align: left; 
	background-color : #002CE6; 
	color:white; 
	border : solid 2px #002CE6; 
	border-radius : 5px;
} 

.listeRegion:hover{
	cursor:pointer;
}

.listeRegion{
	color : white;
	margin-top : 4%;
	position : relative;
	left : -28px;
}

#selectedRegion1{
	background-color: white; 
	color :black;  border : solid 4px white; border-radius : 10px;
}

#selectedRegion2{
	background-color: white; 
	color :black;  border : solid 4px white; border-radius : 10px;
}

#poids1{
	position:absolute;
	right:30%;
	top:39%;}

#poids2{
	position:absolute;
	right:60%;
	top:39%;
}

#valeurPoids1{
	color : white;
	position:absolute;
	right:33%;
	top:44%;}

#valeurPoids2{
	color : white;
	position:absolute;
	right:63%;
	top:44%;
}

a{
	text-decoration:none;
}

/*.choix{
	background-color:white;
	text-align:center;
}

tr.sousGauche{
	border-width:1px;
	border-style:solid;
}

tr.sousDroite{
	border-width:1px;
	border-style:solid;
}*/

#affiche_balance{
	background-color:white;
}

h1{
	background-color:white;
	text-align:center;
}

/*p{
	margin-top:0;
	margin-bottom:10px;
	margin-right:0;
	margin-left:0;
}

p.sousGauche{
	background-color:white;
	height:5%;
	text-align:right;
	border-radius:10px;
}

p.sousDroite{
	background-color:white;
	height:5%;
	text-align:left;
	border-radius:10px;
}

caption{
	caption-side:top;
	text-align:center;
}*/

#aiguilleBalance{
	transform: rotate(-45deg);
	width: 10%;
	height: 10%;
	position: absolute;
	top: 29.5%;
	right: 45.17%;
}

/*.textee{
	margin-left:25px;
	text-align:justify;
}

a.menu3{
	text-align:center;
	color:#002BE5;
}*/

img.bouton{
	display : inline;
}

.textType {
	position : relative;
	top : -13px;
	display : inline;
	font-size: 2.5vmin
}

/*#source{
	position:absolute;
	bottom:0;
}*/

/*** Remerciement ***/
#outro-fond{
	position: absolute;
	width: 100%;
	height:100%;
	top,bottom:0;
	left,right: 0;
}



#remerciementsText{
	position: absolute;
	width: 80%;
	height: 20%;
	/*font-size: 2.21vh;*/
	font-size:1.8vmin;
	top:10%;
	left:9.7%;
	text-align: center;
	color:#000044;
}

@media only screen and (max-width: 845px){
	#remerciementsText{
		font-size:1.4vmin;
	}
}

#remerciements{
	z-index: -3;
	position: absolute;
	width: 80%;
	height: 20%;
	font-size: 3vmin;
	top:2%;
	left:9.7%;
	text-align: center;
	color:#000044;
}

#partenaires{
	z-index: -3;
	position: absolute;
	width: 80%;
	height: 20%;
	font-size: 3vmin;
	top:79%;
	left:9.2%;
	text-align: center;
	color:#000044;
}

@media only screen and (max-width: 845px){
	#remerciements, #partenaires{
		font-size:2vmin;
	}
}

.photo{
	position: absolute;
	height: 11vmin;
	width: 11vmin;
	border-radius: 50%;
	border: 1px #333 solid;
	bottom:35%;
}

.photo-name{
	position: absolute;
	font-size: 2.5vmin;
	width: 11vmin;
	height: 5vmin;
	text-align: center;
	bottom:28%;
}

@media only screen and (max-width: 1150px){
	.photo{
		height:8vmin;
		width: 8vmin;
	}

	.photo-name{
		font-size: 1.9vmin;
		width: 8vmin;
	}
}

@media only screen and (max-width: 900px){
	.photo{
		height:6vmin;
		width: 6vmin;
	}

	.photo-name{
		bottom:25%;
		font-size: 1.6vmin;
		width: 6vmin;
	}
}

#chris, #chris-txt{
	left:13%;
}

#thibault, #thibault-txt{
	left:21.5%;
}

#vincent, #vincent-txt{
	left:30.5%;
}

#florent, #florent-txt{
	left:42%;
}

#felix, #felix-txt{
	left:50.5%;
}

#jeremy, #jeremy-txt{
	left:62.8%;
}

#thomas, #thomas-txt{
	left:70.3%;
}

#jordan, #jordan-txt{
	left:77.8%;
}

#arthur, #arthur-txt{
	left:85.3%;
}




/* TEST */ 

.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}
