/*Allows the use of Quicksand font in the css file*/
@font-face {
    font-family: quicksand;
    src: url(quicksand/Quicksand_Book.otf);
}
@font-face {
    font-family: quicksandBold;
    src: url(quicksand/Quicksand_Bold.otf);
}


html, body{
	padding:0;
	margin: 0;
	font-family: quicksand;
}


#image_fond{
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}

#sous-titre{
	position:absolute;
	padding:0;
	margin:0;
	height: 10%;
	width: 35%;
	font-size: 2.5vmin;
	top:18%;
	left:31.5%;
	text-align: center;
	color:#000044;
}

#texte-bouton{
	position:absolute;
	padding:0;
	margin:0;
	height: 3.5%;
	width: 11%;
	font-size: 1.7vmin;
	top:26.45%;
	left:43%;
	text-align: center;
	font-family:quicksandBold;
	color:white;
	padding-top:0.8%;
}

#nuages{
	position: absolute;
	z-index: -2;
	height: 69%;
	width: 69%;
	top:22%;
	left:14.7%;
}

#aiguille1{
	position: absolute;
	height: 25%;
	width: 25%;
	left: 12.78%;
	top:40.5%;
}

#aiguille2{
	position: absolute;
	height: 25%;
	width: 25%;
	left: 12.73%;
	top:40.55%;
}

#main{
	position: absolute;
	height:13%;
	width: 13%;
	top:43.2%;
	left: 30.5%;
}

#cle_USB{
	z-index: -3;
	position: absolute;
	height:13%;
	width: 13%;
	bottom:23%;
	left: 24%;
}

#fleche{
	position: absolute;
	height:4.5%;
	width: 4.5%;
	top:39%;
	right: 26.5%;
}

#personnage{
	position: absolute;
	height:17%;
	width: 17%;
	bottom:24%;
	left: 40.5%;
	opacity: 0;
}

 .responsive_container
{
	overflow: hidden;
	width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.responsive-container-exception{
	overflow: hidden;
	width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 200vh; /* 16/7 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

#intro-fond{
	z-index: 0;
	height: 100%;
	width: 100%;
}

#yeux{
	z-index: -2;
	position: absolute;
	top:32%;
	left:19.8%;
	height: 8.5%;
	width: 8.5%;
}

#paupieresHaut{
	z-index: -1;
	position: absolute;
	top:23%;
	left:16.5%;
	height: 15%;
	width: 15%;
}

#paupieresBas{
	z-index: -1;
	position: absolute;
	top:34.7%;
	left:17%;
	height: 15%;
	width: 14%;
}

#tableau{
	z-index:-1;
	position: absolute;
	top:-37%;
	left:26.45%;
	height: 75%;
	width: 75%;
}

#aiguilleMotion1, #aiguilleMotion2{
	position: absolute;
	height: 30%;
	width: 30%;
	left: 1%;
	top:3.75%;
}

video{
	z-index: 0;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 49.8%;
	height:63%;
	top:18%;/*18% for full scrolling*/
	right:11.40%;
	opacity:0;
}

#thumbnail{
	z-index: 50;
	position:absolute;
	width:49.8%;
	height: 49.8%;
	top:27%;
	right:11.4%;
	opacity:0;
}

#thumbnail:hover{
	cursor:pointer;
}

/* Dataviz2 */

.node {
    cursor: pointer;
    stroke : #000040;
    stroke-width : 1.5px;
    stroke-opacity : 0.6;
    margin: 1px;
}

.node:hover {
    stroke: #000;
    stroke-width: 3px;
}

.node--leaf {
    fill: white;
    stroke-width : 0px;
}

.node--root {
    stroke-width : 0px;
    fill : none;
}

.label {
    font: 12px "quicksandBold","Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    fill : black;
    text-shadow: 0 1px 0 #EFF4F9, 1px 0 0 #EFF4F9, -1px 0 0 #EFF4F9, 0 -1px 0 #EFF4F9;
   /* text-shadow: 0 1px 0 #ffffff, 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 -1px 0 #ffffff;*/
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.listLegend {
	margin : -3%;
	width : 108%;
	list-style-type: none;
}

#divLegend{
	bottom: 10%;
    position: absolute;
    display: inline-block;
}

#divDownload{
	display : inline-block;
	width : 40%;
	height: 100%;
	position : absolute;
	top : 40%;
	left : 65%;
}

#textDownload {
	position : absolute;
	top : 24%;
	left : 18%;
	text-align: center; 
	width : 66%;
}

.textLegend {
	display: inline;
	margin : 1%;
}

.mapLegend {
	height : 26px; 
	width : 20px;
	margin: 1%;
}

/* Color pie download*/
 .Cservices {
 	stroke: #001DC3;

 }
  
.Cmarche {
	stroke : #1E47E9;
}
     
.Cconstruire {
	stroke : #3C62EB;
}

.Cbudget{
	stroke : #5A7DEE;
} 
    
.Celection{
	stroke : #7897F1;
} 
  
.Cassociation{
	stroke : #96B2F4;
} 

.Csubventions{
	stroke : #B4CDF6;
} 

.Cpv{
	stroke : #C3DBF8;
} 
        
.Curbanisme{
	stroke : #00F9DB;
} 
 
.Cenvironnement{
	stroke : #00F7BE;
}
.Ctransport{
	stroke : #00F6A0;
}
  
.Cequipements{
	stroke : #00F483;
}

.Cculture {
	stroke : #00F365;
}
   
.Ceducation{
	stroke : #00F02B;
}


/* DATAVIZ 1*/

/*#titre{
	position: absolute;
	width: 35%;
	height: 18%;
	left:15%;
}*/

#datavizEvo h1{
	position: absolute;
	top:5%;
	left:3%;
	font-size:4.5vmin;
}

#graphe{
	position: absolute;
	width: 45%;
	margin:auto;
	top:21%;
	left:5%;
	font-size: 85%
}

#radios{
	margin-left: 6.5%;
}


#imagePerso{
	position: absolute;
	top:58%;
	width: 15%;
	left:55%;
}

#imageBullePerso{
	position: absolute;
	top:58%;
	width: 21%;
	height: 40%;
	left:65%;
}
#topCreate,#flopCreate,#topUpdate,#flopUpdate{
	position: absolute;
	width: 13%; 
	height: 18%;
}

#topCreate,#flopCreate{
	top:10%;
}

#topUpdate,#flopUpdate{
	top:40%;
}

#topCreate,#topUpdate{
	left:58%;
}

#flopCreate,#flopUpdate{
	left:76%;
}


#topFlop p{
	font-size:1.8vmin;
}

li {
  list-style-type: decimal;
  color:#000033;
}


#explicationAnnee{
	position: absolute;
	left:70%;
	top:68%;
	width: 15%; 
	height: 23%;
	/*border: 3px solid #000000; */
}

#explication2014,#explication2015,#explication2016,#explication2017{
	display: none;
}


#imageTopC,#imageFlopC,#imageTopU,#imageFlopU{
	position: absolute;
	height:26%;
	width:15%;
}

#imageTopC,#imageTopU{
	left:58%;
}

#imageFlopC,#imageFlopU{
	left:76%;
}

#imageTopC,#imageFlopC{
	top:2%;
}

#imageTopU,#imageFlopU{
	top:33%; 
}

#legendC,#legendU{
	position:absolute;
	top:92.5%;
}

#donneP,#donneM{
	position:absolute;
	top:92%;
	font-size:2vmin;
}
#legendC,#legendU{
	width: 5%; 
}

#legendC{
	left:11%;
}

#donneP{
	left:17%;
}

#legendU{
	left:29%;
}

#donneM{
	left:35%;
}

/*** Remerciement ***/
#outro-fond{
	width: 100%;
	height:100%;
	top,bottom:0;
	left,right: 0;
}

#remerciementsText{
	position: absolute;
	width: 80%;
	height: 20%;
	/*font-size: 2.21vh;*/
	font-size:1.8vmin;
	top:10%;
	left:9.7%;
	text-align: center;
	color:#000044;
}

#remerciements{
	z-index: -3;
	position: absolute;
	width: 80%;
	height: 20%;
	font-size: 2.5vmin;
	top:2%;
	left:9.7%;
	text-align: center;
	color:#000044;
}

#partenaires{
	z-index: -3;
	position: absolute;
	width: 80%;
	height: 20%;
	font-size: 1vw;
	top:79%;
	left:9.2%;
	text-align: center;
	color:#000044;
}