/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

svg
{
    display: block;
    margin: auto;
}

#affichage-annee
{
    text-align: center;
}

#annee
{
    background-color: white;
    width: 50%;
    margin-left: 25%;
}

path {
  fill: #7693A3;
  stroke: black;
  stroke-width: .5px;
}

#carte-murs{
	width:70%;
	height:100%;
	margin-top: 10%;
	position: relative;
}

#slider3{
	bottom: 35%;
	position: relative;
	left : 25%;
    margin: 20px 0 10px 20px;
    width: 50%;
    background-color: white;
}



#affichage-annee
{
	bottom: 45%;
	position: relative;
	left : 25%;
	width: 50%;
	font-size: 24px;
}

#graphique-mur{
	display:inline-block;
	bottom : 15%;
	left : 70%;
	position : absolute;
	margin : 20px;
}

.page2 h2{
	top: 100px;
	color : black;
	position:absolute;
	font-size: 24px
}

.arc {
  fill: none;
  stroke: red;
  stroke-width: 2.5px;
  stroke-linecap: round;
}

.site {

  fill: none;
  stroke: red;
  stroke-width: 1.5px;
  stroke-linecap: round;
  
}

.tooltip{
	font-family:roboto;
	font-size:16px;
	width:200px;
	height:auto;
	position:absolute; 
	text-align:center;
	background-color:white;
	padding : 10px;
	display: none;
}


.arc {
  fill: none;
  stroke: #FFE812;
  stroke-width: 2.5px;
  stroke-linecap: round;
}


.arc2 {
  fill: none;
  stroke: #FFB655;
  stroke-width: 2.5px;
  stroke-linecap: round;
}



.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


ul#objets-separations
{
    list-style-type: none;
	display: inline-block;
	top: 13%;
	position: absolute;
	left: 70%;
}

ul#objets-separations li
{
    margin-bottom: 10px;
    display: table;
}

ul#objets-separations li span, ul#objets-separations li img
{
    display: table-cell;
    vertical-align: middle;
    margin-right: 15px;
}

ul#objets-separations li img
{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

ul#objets-separations li span.value
{
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    width: 2em;
    text-align: center;
}

ul#objets-separations li#obj-zone-de-conflit span.value
{
    background-color: #229aaa;
}

ul#objets-separations li#obj-zone-de-conflit span.name
{
    color: #229aaa;
}

ul#objets-separations li#obj-immigration span.value
{
    background-color: #ea563d;
}

ul#objets-separations li#obj-immigration span.name
{
    color: #ea563d;
}

ul#objets-separations li#obj-terrorisme span.value
{
    background-color: #d7ed35;
}

ul#objets-separations li#obj-terrorisme span.name
{
    color: #d7ed35;
}

ul#objets-separations li#obj-trafic span.value
{
    background-color: #5a9dff;
}

ul#objets-separations li#obj-trafic span.name
{
    color: #5a9dff;
}color: #ffce00;
}

.icone-objet-separation
{
    width: 40px;
    height: 40px;
}

html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'roboto';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
    }
    
    .wrapper {
    	height: 100% !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }
    
    a {
      text-decoration: none;
    }
    
    
    h1, h2 {
      width: 100%;
    }
    h1 {
      margin-top: 100px;
      color: #000;
      margin-bottom: 5px;
      font-size: 70px;
      letter-spacing: -4px;
      font-weight: 100;
    }
    h1 span {
      font-size: 26px;
      margin: 0 5px;
      text-transform: capitalize;
      background: rgba(0,0,0,0.85);
      display: inline-block;
      color: #6D461D;
      border-radius: 5px 5px;
      -webkit-border-radius: 5px 5px;
      -moz-border-radius: 5px 5px;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
      padding: 3px 10px;
    }
    h2 {
      color: #6D461D;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 10px;
    }
    
    .pointer {
      color: #9b59b6;
      font-family: 'Pacifico', cursive;
      font-size: 30px;
      margin-top: 15px;
    }
    code {
      margin: 20px 1%;
      float: left;
      width: 48%;
      height: 105px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      border-radius: 5px;
      padding:5px;
      color: white;
      text-align: center;
      font-size: 15px;
      margin-top: 25px;
      display: block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    code.html {
      color: #7EC9E6;
    }
    code.js {
      color: #FFAD00;
    }

    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
    .main h1 {
      padding:150px 50px;
      float: left;
      width: 100%;
      font-size: 45px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      color: white;
      margin: 0;
    }
   
    .main h1.demo1 {
      background: #1ABC9C;
    }
    
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    
    .reload, .btn{
      display: inline-block;
      border: 4px solid #A2261E;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #CC3126;
      display: inline-block;
      line-height: 100%;
      padding: 0.7em;
      text-decoration: none;
      color: #fff;
      width: 100px;
      line-height: 140%;
      font-size: 17px;
      font-family: roboto;
      font-weight: bold;
    }
    .reload:hover{
      background: #444;
    }
    .btn {
      width: 200px;
      color: rgb(255, 255, 255);
      border: 4px solid rgb(0, 0, 0);
      background: rgba(3, 3, 3, 0.75);
    }
    .clear {
      width: auto;
    }
    .btn:hover, .btn:hover {
      background: #444;
    }
    .btns {
      width: 410px;
      margin: 50px auto;
    }
    .credit {
      text-align: center;
      color: rgba(0,0,0,0.5);
      padding: 10px;
      width: 410px;
      clear: both;
    }
    .credit a {
      color: rgba(0,0,0,0.85);
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      font-size: 13px;
      color: #000;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
    .back:hover {
      color: black;
      background: rgba(255, 255, 255, 0.5);
    }
    #bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10%;
      background: #ea563d;
      font-weight: bold;
      font-size: 13px;
      color: #000;
    }
    header {
      position: relative;
      z-index: 10;
    }
    .main section .page_container {
      position: relative;
      top: 5%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    .main section .page_container .text-intro {
      position: relative;
      width: 100%;
      padding-top:10px;
      text-align: left;
      text-indent: 40px;
    }
    .main section .page_container .text-intro2 {
      position: relative;
      width: 100%;
      padding-top:10px;
      text-align: left;
      text-indent: 40px;
    }
    .main section  {
      overflow: hidden;
    }
    
    .main section > img {
      position: absolute;
      max-width: 100%;
      z-index: 1;
    }
    
    .main section.page1 {
      background:rgb(230, 217, 200);
      padding-top: 5%;
    }
    .main section.page1 h1 {
      text-align: left;
      padding: 0;
      width: 100%;
      margin-bottom: 15px;
      font-size: 70px;
      color: black;
    }
    .main section.page1 h2 {
      color: rgba(0,0,0,0.85);
      text-align: right;
      width: 800px;
      line-height: 30%;
      padding-bottom: 30px;
    }
    .main section.page8 h1 {
      padding: 0;
      width: 100%;
      margin-bottom: 15px;
      font-size: 70px;
      color: black;
      margin-top: 5%;
    }
    .main section .page_container .btns {
      clear: both;
      float: left;
      text-align: center;
      width: 435px;
    }
    .main section .page_container .btns a{
      text-align: center;
    }
    .main section.page1 {
      background:url(../img/mur_berlin.jpg) ;
      background-size:100%;
    }
    
    .main section.page8 {
      background-color: #adbad8;
        background:url(../img/Statue_of_Liberty_frontal_213.jpg) ;
      background-size:100%;
      background-position: 0px -150px;
    }
 
    .main section.page2 {

      background-color: #adbad8;
    }
    .main section.page4 {
      background-color: #adbad8;
    }
    .main section.page5 {
      background-color: #adbad8;
    }
    .main section.page6 {
      background-color: #adbad8;
    }
    .main section.page7 {
      background-color: #adbad8;
    }
    .main section.page2 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px;
    }
    .main section.page2 .page_container {
      margin-top: 240px;
      overflow: hidden;
    }
    .main section.page2 h1 {
      text-align: center;
      padding: 0;
      margin-bottom: 15px;
      font-size: 50px;
      letter-spacing: -1px;
      color: black;
    }
    .main section.page2 h2 {
      color: rgba(0,0,0,0.85);
      text-align: center;
      line-height: 160%;
      font-weight: bold;
	  font-size : 24px;
	  
    }
    .viewing-page-2 .back{
      background: rgba(0, 0, 0, 0.25);
      color: #FFF;
      }
    .main section.page3 {
      background-color: #adbad8;
    }
    .main section.page3 .page_container {
      overflow: hidden;
      width: 500px;
      right: -285px;
    }
    .main section.page3 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
      font-size: 70px;
      letter-spacing: -1px;
      color: black;
    }
    .main section.page3 h2 {
      color: rgba(0,0,0,0.85);
      text-align: left;
      line-height: 160%;
      font-weight: 100;
      font-size: 21px;
    }
    
    body.disabled-onepage-scroll .onepage-wrapper  section {
      min-height: 100%;
      height: auto;
    }
    
    body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
      padding: 20px;
      margin-top: 150px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    body.disabled-onepage-scroll  section .page_container h1{
      text-align: center;
      font-size: 50px;
    }
    body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
      text-align: center;
      width: 100%;
    }
    
    body.disabled-onepage-scroll .main section.page1 > img {
      position: absolute;
      width: 80%;
      left: 10%;
    }
    
    body.disabled-onepage-scroll .main section > img {
      position: relative;
      max-width: 80%;
      bottom: 0;
    }
    body.disabled-onepage-scroll code {
      width: 95%;
      margin: 0 auto 25px;
      float: none;
      overflow: hidden;
    }
    
    body.disabled-onepage-scroll .main section.page3 .page_container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      right: 0;
    }




.btn-murs {
    height: 60%;
    left: 260px;
}

.btn-visas {
    height: 60%;
    left: 10px;
}


.btn-conclu {
    height: 60%;
    right: 10px;
}

.btn-cont {
  text-align: center;
  position: absolute;
  top: 10px;
}

.btn-cont .btn {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.btn-cont .btn:hover {
  border: none;
}
.btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  right: 0;
  bottom: 0;
}




.btn-globe {
    height: 60%;
}

.btn-usa {
    height: 60%;
}

.btn-asie {
    height: 60%;
}
.btn-europe {
    height: 60%;
}
.btn-moyenO {
    height: 60%;
}

.btn-first {
    left:100px;
}

.btn-secnd {
    left:325px;
}

.btn-third {
    left:550px;
}

.btn-fourth {
    left:775px;
}






@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

#bandeau-logos {
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
}

#bandeau-logos li{
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}


#bandeau-logos img{
  height: 46px;
}

#bandeau-logos #hyblab{
  margin: 46px 0;
  height: 50px;
  float: left;
}

#bandeau-logos #cc, #bandeau-logos #opensource
{
  height:16px;
}

#bandeau-logos .stacked{
  display:block;
}

#bandeau-logos ul{
  text-align: center;
  padding: 0 0;
}

#bandeau-logos .institutionnel
{
  height: 42px;
}

#titre-credits
{
    color: black;
    padding: 0;
    margin-top: 100px;
}

#credits ul
{
    list-style: none;
    display: table;
    padding-top: 20px;
    margin: auto;
}

#credits ul li
{
    display: table-cell;
    padding: 10px;
}

#credits a
{   
    color: black;
}

#credits ul li img
{
    width: 80px;
    height: 80px;
}
