/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sintony", sans-serif;
  color: #eaf2e3;
  background-color: #3a2c41;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #c0a672;
  text-decoration: none;
}

.cd-image-replace {
  /* replace text with image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

.cd-section {
  /* vertically align its content*/
  display: table;
  width: 100%;
  height: 100vh;
  background: #3a2c41;
}
.cd-section:nth-of-type(even) {
  background-color: #70557e;
}
.cd-section > div {
  /* vertically align <div> inside <section> */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cd-section h1, .cd-section h2 {
  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.4;
}
.cd-section h1 b, .cd-section h2 b {
  color: #584c5e;
}
.cd-section p {
  margin: 1em auto 0;
  line-height: 1.6;
  width: 90%;
  max-width: 680px;
  color: rgba(234, 242, 227, 0.6);
}

.cd-section h1, .cd-section h2 {
  font-size: 3rem;
}
.cd-section p {
  font-size: 2rem;
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 44px;
  height: 44px;
  background: url(../img/cd-arrow-bottom.svg) no-repeat center center;
}
