/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ################################ SOMMAIRE #########################*/
/*
	I - Initialisation
	II - Début
	III - Div Un
	IV - Div Deux
	V - Div Trois
	VI - Div Quatre
*/


/*#################### Début #################### */
html {
	height: 100%;
	width: 101%;
}

body {
	height: 100%;
	width: 101%;
}

html, body{
    height: 100%;
    overflow:hidden;
}

#container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#content{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 15px;
}


/* ################### Div Un ################### */

#pageOne{
	background-color: #004265;
	min-height: 100%;
	text-align: center;
}

#pageOne .pageOnePremierP {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 1.3em;
	text-align: center;
	width: 35%;
	margin: 0 auto;
	font-weight: bold;
	line-height: 140%;
}

#pageOne .pageOneDeuxiemeP {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 1.2em;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding-top: 1%;
}


#pageOne button {
	background-color: #004265;
	width: 10%;
	color: #F1D030;
	font-weight: bold;
	border: 3px #F1D030 solid;
	border-radius: 15px;
	padding: 15px;
	margin-top: 2%;
}

/* ################### pageTwo ################### */

#pageTwo {
	background-color: #105A7F;
	min-height: 100%;
}

#pageTwo h1 {
	font-size: 1.5em;
	text-align: center;
	padding-top: 2%;
	color: white;
}

#pageTwo h2 {
	font-size: 1.5em;
	text-align: center;
	padding-top: 2%;
	color: #FFD439;
	font-style: italic;
}

#pageTwo hr {
	width: 10%;
	border: 2px solid #FFD439;
	margin-top: 1%;
}

#pageTwo .blocTwoOne {
	width: 70%;
	background-color: grey;
	margin: 0 auto;
}

#pageTwo .blocTwoOne .Saison {
	width: 24%;
	background-color: white;
	display: inline-block;
}

#pageTwo .blocTwo {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	background-color: grey;
	margin-top: 5%;
	padding-top: 2%;
	padding-bottom: 3%;
}


/* ################### pageThree ################### */

#pageThree {
	background-color: #F5EED8;
	min-height: 100%;
}